apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "clustertemplate.openshift.io/v1alpha1",
          "kind": "ClusterTemplate",
          "metadata": {
            "name": "clustertemplate-sample"
          },
          "spec": {}
        },
        {
          "apiVersion": "clustertemplate.openshift.io/v1alpha1",
          "kind": "ClusterTemplateInstance",
          "metadata": {
            "name": "clustertemplateinstance-sample"
          },
          "spec": {}
        },
        {
          "apiVersion": "clustertemplate.openshift.io/v1alpha1",
          "kind": "ClusterTemplateQuota",
          "metadata": {
            "name": "clustertemplatequota-sample"
          },
          "spec": {}
        }
      ]
    categories: Integration & Delivery,OpenShift Optional
    certified: "false"
    containerImage: quay.io/stolostron/cluster-templates-operator:2.11.0-0c3131154065397d37e3b66ae635d7ea88650bf9
    createdAt: "2024-06-06T19:34:44Z"
    description: Easily install fully configured clusters with guard-rails.
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/stolostron/cluster-templates-operator
  name: cluster-aas-operator.v0.1.5
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Represents instance of a cluster
      displayName: Cluster template instance
      kind: ClusterTemplateInstance
      name: clustertemplateinstances.clustertemplate.openshift.io
      resources:
      - kind: Pod
        name: ""
        version: v1
      statusDescriptors:
      - description: A reference for secret which contains username and password under
          keys "username" and "password"
        displayName: Admin Password
        path: adminPassword
      - description: API server URL of the new cluster
        displayName: APIserver URL
        path: apiServerURL
      - description: Status of each cluster setup
        displayName: Cluster Setup
        path: clusterSetup
      - description: Secrets create by cluster setup which provide credentials for
          applications created by cluster setup
        displayName: Cluster Setup Secrets
        path: clusterSetupSecrets
      - description: Resource conditions
        displayName: Conditions
        path: conditions
      - description: Console URL of the new cluster. The value is taken from ManagedCluster.
        displayName: Console URL
        path: consoleURL
      - description: Time of first attempt of login to a new cluster
        displayName: First Login Attempt
        path: firstLoginAttempt
      - description: A reference for secret which contains kubeconfig under key "kubeconfig"
        displayName: Kubeconfig
        path: kubeconfig
      - description: A reference to ManagedCluster resource
        displayName: Managed Cluster
        path: managedCluster
      - description: Additional message for Phase
        displayName: Message
        path: message
      - description: Represents instance installaton & setup phase
        displayName: Phase
        path: phase
      version: v1alpha1
    - description: Defines which ClusterTemplates can be used in a given namespace
      displayName: Cluster template quota
      kind: ClusterTemplateQuota
      name: clustertemplatequotas.clustertemplate.openshift.io
      resources:
      - kind: Pod
        name: ""
        version: v1
      statusDescriptors:
      - description: How much budget is currenly spent
        displayName: Budget Spent
        path: budgetSpent
      - description: Which instances are in use
        displayName: Template Instances
        path: templateInstances
      version: v1alpha1
    - description: Template of a cluster - both installation and post-install setup
        are defined as ArgoCD application spec. Any application source is supported
        - typically a Helm chart
      displayName: Cluster template
      kind: ClusterTemplate
      name: clustertemplates.clustertemplate.openshift.io
      resources:
      - kind: Pod
        name: ""
        version: v1
      statusDescriptors:
      - description: Describes helm chart properties and their schema
        displayName: Cluster Definition
        path: clusterDefinition
      - description: Describes helm chart properties and schema for every cluster
          setup step
        displayName: Cluster Setup
        path: clusterSetup
      version: v1alpha1
    - kind: ClusterTemplateSetup
      name: clustertemplatesetup.clustertemplate.openshift.io
      version: v1alpha1
    - kind: Config
      name: config.clustertemplate.openshift.io
      version: v1alpha1
  description: |
    **Self-service clusters with guardrails!**
    Cluster as a service operator provides an easy way to define clusters as templates and allows creating instances of those templates even for non-privileged developer/devops engineers. Cluster templates operator also allows specifing quotas for the developer/devops engineers.

    ### User Interface
    The User interface is installed but is not enabled by default. To enable go to `Home` -> `Overview` -> in the status card click `Dynamic Plugins` -> click `View all` -> click the `pencil` icon -> pick `Enable` and hit `Save`. You can access the UI in the `All Clusters` perspective under `Infrastructure` -> `Cluster Templates`.

    ### Documentation
    Documentation can be found on our [website](https://github.com/stolostron/cluster-templates-operator).

    ### Getting help
    To report any issues or ask questions, create an issue on our [Github repo](https://github.com/stolostron/cluster-templates-operator/issues)
  displayName: Cluster as a service operator
  icon:
  - base64data: PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTguNTEgMjU4LjUxIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2QxZDFkMTt9LmNscy0ye2ZpbGw6IzhkOGQ4Zjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPkFzc2V0IDQ8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTI5LjI1LDIwQTEwOS4xLDEwOS4xLDAsMCwxLDIwNi40LDIwNi40LDEwOS4xLDEwOS4xLDAsMSwxLDUyLjExLDUyLjExLDEwOC40NSwxMDguNDUsMCwwLDEsMTI5LjI1LDIwbTAtMjBoMEM1OC4xNiwwLDAsNTguMTYsMCwxMjkuMjVIMGMwLDcxLjA5LDU4LjE2LDEyOS4yNiwxMjkuMjUsMTI5LjI2aDBjNzEuMDksMCwxMjkuMjYtNTguMTcsMTI5LjI2LTEyOS4yNmgwQzI1OC41MSw1OC4xNiwyMDAuMzQsMCwxMjkuMjUsMFoiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xNzcuNTQsMTAzLjQxSDE0MS42NkwxNTQuOSw2NS43NmMxLjI1LTQuNC0yLjMzLTguNzYtNy4yMS04Ljc2SDEwMi45M2E3LjMyLDcuMzIsMCwwLDAtNy40LDZsLTEwLDY5LjYxYy0uNTksNC4xNywyLjg5LDcuODksNy40LDcuODloMzYuOUwxMTUuNTUsMTk3Yy0xLjEyLDQuNDEsMi40OCw4LjU1LDcuMjQsOC41NWE3LjU4LDcuNTgsMCwwLDAsNi40Ny0zLjQ4TDE4NCwxMTMuODVDMTg2Ljg2LDEwOS4yNCwxODMuMjksMTAzLjQxLDE3Ny41NCwxMDMuNDFaIi8+PC9nPjwvZz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - agent.open-cluster-management.io
          resources:
          - klusterletaddonconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - argoproj.io
          resources:
          - applications
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - argoproj.io
          resources:
          - applicationsets
          verbs:
          - create
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - argoproj.io
          resources:
          - argocds
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclustersets/join
          verbs:
          - create
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplateinstances
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplateinstances/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplatequotas
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplatequotas/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplates
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplates/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplatesetup
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - clustertemplatesetup/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - clustertemplate.openshift.io
          resources:
          - config
          verbs:
          - create
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - console.openshift.io
          resources:
          - consoleplugins
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - console.openshift.io
          resources:
          - consolequickstarts
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - hive.openshift.io
          resources:
          - clusterclaims
          - clusterdeployments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - hypershift.openshift.io
          resources:
          - hostedclusters
          - nodepools
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - operators.coreos.com
          resources:
          - subscriptions
          verbs:
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - register.open-cluster-management.io
          resources:
          - managedclusters/accept
          verbs:
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: cluster-aas-operator-controller-manager
      deployments:
      - label:
          control-plane: caas-controller-manager
        name: cluster-aas-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: caas-controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: caas-controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: quay.io/stolostron/cluster-templates-operator:2.11.0-0c3131154065397d37e3b66ae635d7ea88650bf9
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
                - containerPort: 8001
                  name: repo-server
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 1Gi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: cluster-aas-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: cluster-aas-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - cluster
  - templates
  - hive
  - hypershift
  - selfservice
  - openshift
  - multicluster
  - quota
  - helm
  - argocd
  links:
  - name: Cluster as a service operator
    url: https://github.com/stolostron/cluster-templates-operator
  maintainers:
  - email: rawagner@redhat.com
    name: Rastislav Wagner
  maturity: alpha
  minKubeVersion: 1.24.0
  provider:
    name: Stolostron
  version: 0.1.5
  webhookdefinitions:
  - admissionReviewVersions:
    - v1
    containerPort: 443
    conversionCRDs:
    - clustertemplateinstances.clustertemplate.openshift.io
    - clustertemplatequotas.clustertemplate.openshift.io
    deploymentName: cluster-aas-operator-controller-manager
    generateName: cclustertemplateinstancesclustertemplatequotas.kb.io
    sideEffects: None
    targetPort: 9443
    type: ConversionWebhook
    webhookPath: /convert
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: cluster-aas-operator-controller-manager
    failurePolicy: Fail
    generateName: mclustertemplateinstance.kb.io
    rules:
    - apiGroups:
      - clustertemplate.openshift.io
      apiVersions:
      - v1alpha1
      operations:
      - CREATE
      resources:
      - clustertemplateinstances
    sideEffects: None
    targetPort: 9443
    type: MutatingAdmissionWebhook
    webhookPath: /mutate-clustertemplate-openshift-io-v1alpha1-clustertemplateinstance
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: cluster-aas-operator-controller-manager
    failurePolicy: Fail
    generateName: vclustertemplateinstance.kb.io
    rules:
    - apiGroups:
      - clustertemplate.openshift.io
      apiVersions:
      - v1alpha1
      operations:
      - CREATE
      - UPDATE
      resources:
      - clustertemplateinstances
    sideEffects: None
    targetPort: 9443
    type: ValidatingAdmissionWebhook
    webhookPath: /validate-clustertemplate-openshift-io-v1alpha1-clustertemplateinstance
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: cluster-aas-operator-controller-manager
    failurePolicy: Fail
    generateName: vclustertemplatequota.kb.io
    rules:
    - apiGroups:
      - clustertemplate.openshift.io
      apiVersions:
      - v1alpha1
      operations:
      - CREATE
      - UPDATE
      resources:
      - clustertemplatequotas
    sideEffects: None
    targetPort: 9443
    type: ValidatingAdmissionWebhook
    webhookPath: /validate-clustertemplate-openshift-io-v1alpha1-clustertemplatequota
