apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: stackgres-webconsole-reader
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resourceNames:
      - sgconfigs.stackgres.io
      - sgclusters.stackgres.io
      - sginstanceprofiles.stackgres.io
      - sgpgconfigs.stackgres.io
      - sgpoolconfigs.stackgres.io
      - sgbackups.stackgres.io
      - sgbackupconfigs.stackgres.io
      - sgobjectstorages.stackgres.io
      - sgdbops.stackgres.io
      - sgdistributedlogs.stackgres.io
      - sgshardedclusters.stackgres.io
      - sgscripts.stackgres.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - list
  - apiGroups:
      - ''
    resources:
      - namespaces
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
      - batch
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups:
      - ''
    resources:
      - pods/exec
    verbs:
      - get
  - apiGroups:
      - ''
      - batch
      - storage.k8s.io
    resources:
      - pods
      - services
      - configmaps
      - secrets
      - persistentvolumes
      - persistentvolumeclaims
      - events
      - jobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - stackgres.io
    resources:
      - sgclusters
      - sgpgconfigs
      - sginstanceprofiles
      - sgpoolconfigs
      - sgbackupconfigs
      - sgbackups
      - sgdistributedlogs
      - sgdbops
      - sgobjectstorages
      - sgscripts
      - sgshardedclusters
    verbs:
      - watch
      - list
      - get
  - apiGroups:
      - stackgres.io
    resources:
      - sgconfigs
    verbs:
      - watch
      - list
      - get
