apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "bookkeeper.streamnative.io/v1alpha1",
          "kind": "BookKeeperCluster",
          "metadata": {
            "name": "bookkeepercluster-sample"
          },
          "spec": {
            "foo": "bar"
          }
        }
      ]
    capabilities: Seamless Upgrades
    categories: Storage
    containerImage: quay.io/streamnativeio/bookkeeper-operator:v0.12.3
    createdAt: "2019-04-25T16:34:00Z"
    description: The BookKeeper Operator manages BookKeeper clusters deployed to Kubernetes
    operators.operatorframework.io/builder: operator-sdk-v1.23.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
    support: StreamNative
  name: bookkeeper-operator.v0.12.3
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: BookKeeperCluster is the Schema for the bookkeeperclusters API
      displayName: Book Keeper Cluster
      kind: BookKeeperCluster
      name: bookkeeperclusters.bookkeeper.streamnative.io
      version: v1alpha1
  description: |
    The BookKeeper Operator manages BookKeeper clusters deployed to Kubernetes and automates tasks related to operating a Bookkeeper cluster. It provides a full management life-cycle for BookKeeper, including deployment, upgrades, scaling, and configuration changes. You can manage BookKeeper clusters using the Kubernetes Application Programming Interface (API) and the kubectl tool
  displayName: BookKeeper Operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABaFBMVEUAAAAAkf8AACsAkf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8Akf8AACsAACsAACsAkf8AACsAACsAACsAACsAkf8Akf8AACsAkf8Akf8Akf8Akf8AACv////kwuOUAAAAdXRSTlMAAAAHJ1B1j5yfoEgcZrTl+20ScNT+/Vc6vfIBXOTZGmfxpgPw/F0z39IZDLJzX/rFFhHE7EZP+PNommICFfSuODTv59PH5vfozJNECVLbUSgUDSZCPCnheiC2MZ5hEEfKHk4LwKt/CDNX6zCr7v0EodR5gB08MC/9AAAAAWJLR0R3RmT51wAAAAlwSFlzAAArDwAAKw8BZQl82QAAAAd0SU1FB+YJBQsHNrqpLMMAAAKxSURBVFjDtZdnW+pAEIUzgOViQUEkGiuKGhURRAELYkPFir0XLIAU6/r7b2IIPbub+DhfyXueCdkzc5Zh/rKgev0KphUQn9Mbamrr6v+VlbGBQkDEG5uaTS2oSrWSBQTcbGmzoqrVbiMKCDzboYAj1MmSBAC4rm6kWD29QOT7+pV5ZB8AAg+2QQzvGAKSwPAIhkf8KF4AYGwcxyMnsYEJF46fdJMa8EzheO80sYEZH4b3B0hOAG4Ww5vm5klOggVeEQ8uhshOhKXlYsa1srq2thr2rwc3NiNb2xROhh1HAd+N7O1HDw6ih+zR8YmHbhJAII+fnp1rGCTglPmLSxXTq0jAIuHWq6gGWhS4zlnuRhvPwO3PObq718gzYAiLXzymlWfg4VEQeNJLvC5f9ALwjJAvlufjiWQyEVehIIyTF8RLlhWwVDqTzWbSKTUKr2/IyOUaSL1//9R7Sk0LIe9H7g3i6e9cpeMqBOAzNzZ1iYwskEno5F8ptor5S3pIl8zKAtlkQYC8VuRnqgl8mWlakAUqXgFg6FPFEav8EwE+vCEVAhWfETgjentVIVB2kADcPHoZVtNC6VEGiAlefVbhs1IzCZnnSXDa44NWowoNBAWBsEHjpAC4vxOHje9W26gCuLFL4+5a06wEiF5ZJQGL+lEt1uVFISHQMkV1fnaa3zgBqpwoBIWT4yP2UFxt+3uR3cLCc+zQ2Gl7K7K5EVz3h8XlulKSWZaXKAwdWgwqbnl+gZgT5+dMmJQxyxFzYsCP4X0zxJQ07cXwaMpDimnuSRzvmiA24MTxaHyM1MAoj+NHSONEGJsODD9oI+bEATuG7+/jiDmxt0eZ7+4i8gywnUq4tYOlWWy2dgW8zWKmyomt1egWU3NTI13ogwZj+UWzvq62xqBXc2H9iwszHayx/gN+0eRQa7eHywAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wOS0wNVQxMTowNzo0NyswMDowMGV+/EcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDktMDVUMTE6MDc6NDcrMDA6MDAUI0T7AAAAAElFTkSuQmCC
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - autoscaling
          resources:
          - horizontalpodautoscalers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - batch
          resources:
          - jobs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - bookkeeper.streamnative.io
          resources:
          - bookkeeperclusters
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - bookkeeper.streamnative.io
          resources:
          - bookkeeperclusters/finalizers
          verbs:
          - update
        - apiGroups:
          - bookkeeper.streamnative.io
          resources:
          - bookkeeperclusters/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - policy
          resources:
          - poddisruptionbudgets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: bookkeeper-operator-controller-manager
      deployments:
      - label:
          app: bookkeeper-operator
          control-plane: controller-manager
        name: bookkeeper-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: bookkeeper-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                app: bookkeeper-operator
                control-plane: controller-manager
                service.istio.io/canonical-name: bookkeeper-operator
                service.istio.io/canonical-revision: 0.12.3
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: quay.io/streamnativeio/kube-rbac-proxy:v0.8.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              - args:
                - --metrics-addr=127.0.0.1:8080
                - --enable-leader-election
                command:
                - /manager
                image: quay.io/streamnativeio/bookkeeper-operator:v0.12.3
                name: manager
                resources:
                  limits:
                    cpu: "1"
                    memory: 1Gi
                  requests:
                    cpu: 100m
                    memory: 20Mi
              serviceAccountName: bookkeeper-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - configmaps/status
          verbs:
          - get
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: bookkeeper-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - pulsar
  - bookkeeper
  - streamnative
  links:
  - name: Home Page
    url: https://streamnative.io
  - name: Documentation
    url: https://docs.streamnative.io/operators/bk-operator/tutorial/deploy-bk
  maintainers:
  - email: cloud@streamnative.io
    name: StreamNative Cloud
  maturity: alpha
  provider:
    name: StreamNative
    url: https://streamnative.io
  version: 0.12.3
