---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    config.couchbase.com/version: 2.3.0
    controller-gen.kubebuilder.io/version: v0.8.0
  name: couchbaseusers.couchbase.com
spec:
  group: couchbase.com
  names:
    kind: CouchbaseUser
    listKind: CouchbaseUserList
    plural: couchbaseusers
    singular: couchbaseuser
  scope: Namespaced
  versions:
  - name: v2
    schema:
      openAPIV3Schema:
        description: CouchbaseUser allows the automation of Couchbase user management.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CouchbaseUserSpec allows the specification of Couchbase user
              configuration.
            properties:
              authDomain:
                description: The domain which provides user authentication.
                enum:
                - local
                - external
                type: string
              authSecret:
                description: Name of Kubernetes secret with password for Couchbase
                  domain.
                type: string
              fullName:
                description: Full Name of Couchbase user.
                type: string
            required:
            - authDomain
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
