apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  creationTimestamp: null
  name: eventbuses.eventbridge.services.k8s.aws
spec:
  group: eventbridge.services.k8s.aws
  names:
    kind: EventBus
    listKind: EventBusList
    plural: eventbuses
    shortNames:
    - eb
    - bus
    singular: eventbus
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.ackResourceMetadata.arn
      name: ARN
      priority: 1
      type: string
    - jsonPath: .status.conditions[?(@.type=="ACK.ResourceSynced")].status
      name: Synced
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EventBus is the Schema for the EventBuses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              EventBusSpec defines the desired state of EventBus.

              An event bus receives events from a source, uses rules to evaluate them,
              applies any configured input transformation, and routes them to the appropriate
              target(s). Your account's default event bus receives events from Amazon Web
              Services services. A custom event bus can receive events from your custom
              applications and services. A partner event bus receives events from an event
              source created by an SaaS partner. These events come from the partners services
              or applications.
            properties:
              eventSourceName:
                description: |-
                  If you are creating a partner event bus, this specifies the partner event
                  source that the new event bus will be matched with.

                  Regex Pattern: `^aws\.partner(/[\.\-_A-Za-z0-9]+){2,}$`
                type: string
              name:
                description: |-
                  The name of the new event bus.

                  Custom event bus names can't contain the / character, but you can use the
                  / character in partner event bus names. In addition, for partner event buses,
                  the name must exactly match the name of the partner event source that this
                  event bus is matched to.

                  You can't use the name default for a custom event bus, as this name is already
                  used for your account's default event bus.

                  Regex Pattern: `^[/\.\-_A-Za-z0-9]+$`
                type: string
                x-kubernetes-validations:
                - message: Value is immutable once set
                  rule: self == oldSelf
              tags:
                description: Tags to associate with the event bus.
                items:
                  description: |-
                    A key-value pair associated with an Amazon Web Services resource. In EventBridge,
                    rules and event buses support tagging.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
            required:
            - name
            type: object
          status:
            description: EventBusStatus defines the observed state of EventBus
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRs managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
