apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  creationTimestamp: null
  name: kruizes.kruize.io
spec:
  group: kruize.io
  names:
    kind: Kruize
    listKind: KruizeList
    plural: kruizes
    singular: kruize
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          Kruize contains configuration options for controlling the deployment of the Kruize
          application and its related components. A Kruize instance must be created to instruct
          the operator to deploy the Kruize application.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KruizeSpec defines the desired state of Kruize
            properties:
              autotune_image:
                description: Container image for Kruize Autotune
                type: string
              autotune_ui_image:
                description: Container image for Kruize UI
                type: string
              cluster_type:
                description: Type of Kubernetes cluster (openshift, minikube, or kind)
                type: string
              namespace:
                description: Target namespace for Kruize deployment
                type: string
            required:
            - autotune_image
            - autotune_ui_image
            - cluster_type
            - namespace
            type: object
          status:
            description: KruizeStatus defines the observed state of Kruize
            properties:
              nodes:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                items:
                  type: string
                type: array
            required:
            - nodes
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
