kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: claas-argocd-cluster-rolebinding
subjects:
  - kind: ServiceAccount
    name: class-argocd-argocd-application-controller
    namespace: cluster-aas-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: claas-argocd-cluster-role
