apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: activegate
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: 1.8.1
    rbac.dynatrace.com/aggregate-to-monitoring: "true"
  name: dynatrace-kubernetes-monitoring-default
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  - namespaces
  - replicationcontrollers
  - events
  - resourcequotas
  - pods/proxy
  - nodes/proxy
  - nodes/metrics
  - services
  - persistentvolumeclaims
  - persistentvolumes
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  - statefulsets
  - daemonsets
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - dynatrace.com
  resources:
  - dynakubes
  - edgeconnects
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  - networkpolicies
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - list
  - watch
  - get
- nonResourceURLs:
  - /metrics
  - /version
  - /readyz
  - /livez
  verbs:
  - get
