apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    helm.sh/resource-policy: keep
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: flink-kubernetes-operator
    app.kubernetes.io/version: 1.6.0
    helm.sh/chart: flink-kubernetes-operator-1.6.0
  name: flink
