apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: dynatrace-extensions-collector
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: 1.4.0
  name: dynatrace-extensions-prometheus
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dynatrace-extensions-prometheus
subjects:
- kind: ServiceAccount
  name: dynatrace-extensions-collector
  namespace: dynatrace
