apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: logmonitoring
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: 1.4.0
  name: dynatrace-logmonitoring
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dynatrace-logmonitoring
subjects:
- kind: ServiceAccount
  name: dynatrace-logmonitoring
  namespace: dynatrace
