apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: dynatrace-extensions-controller
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: 1.4.0
  name: dynatrace-extensions-controller
rules:
- apiGroups:
  - security.openshift.io
  resourceNames:
  - privileged
  resources:
  - securitycontextconstraints
  verbs:
  - use
