apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: mongodb-atlas-kubernetes-operator
    app.kubernetes.io/name: mongodb-atlas-kubernetes-operator
  name: atlasteams.atlas.mongodb.com
spec:
  group: atlas.mongodb.com
  names:
    kind: AtlasTeam
    listKind: AtlasTeamList
    plural: atlasteams
    singular: atlasteam
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.name
      name: Name
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: AtlasTeam is the Schema for the Atlas Teams API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TeamSpec defines the desired state of a Team in Atlas
            properties:
              name:
                description: The name of the team you want to create.
                type: string
              usernames:
                description: Valid email addresses of users to add to the new team
                items:
                  format: email
                  type: string
                type: array
            required:
            - name
            - usernames
            type: object
          status:
            properties:
              conditions:
                description: Conditions is the list of statuses showing the current
                  state of the Atlas Custom Resource
                items:
                  description: Condition describes the state of an Atlas Custom Resource
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of Atlas Custom Resource condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              id:
                description: ID of the team
                type: string
              observedGeneration:
                description: ObservedGeneration indicates the generation of the resource
                  specification that the Atlas Operator is aware of. The Atlas Operator
                  updates this field to the 'metadata.generation' as soon as it starts
                  reconciliation of the resource.
                format: int64
                type: integer
              projects:
                description: List of projects which the team is assigned
                items:
                  properties:
                    id:
                      description: Unique identifier of the project inside atlas
                      type: string
                    name:
                      description: Name given to the project
                      type: string
                  required:
                  - id
                  - name
                  type: object
                type: array
            required:
            - conditions
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
