apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: stackgres
    app.kubernetes.io/instance: viewer-role
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: role
    app.kubernetes.io/part-of: stackgres
  name: stackgres-viewer-role
rules:
  - apiGroups:
      - stackgres.io
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - stackgres.io
    resources:
      - sgconfigs/status
    verbs:
      - get
