apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/name: knative-operator
    app.kubernetes.io/version: v1.11.1
  name: knative-eventing-operator-aggregated
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: knative-eventing-operator-aggregated
subjects:
- kind: ServiceAccount
  name: knative-operator
  namespace: operators
