apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: dbsecuritygroups.rds.services.k8s.aws
spec:
  group: rds.services.k8s.aws
  names:
    kind: DBSecurityGroup
    listKind: DBSecurityGroupList
    plural: dbsecuritygroups
    singular: dbsecuritygroup
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DBSecurityGroup is the Schema for the DBSecurityGroups API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: "DBSecurityGroupSpec defines the desired state of DBSecurityGroup.
              \n Contains the details for an Amazon RDS DB security group. \n This
              data type is used as a response element in the DescribeDBSecurityGroups
              action."
            properties:
              description:
                description: The description for the DB security group.
                type: string
              name:
                description: "The name for the DB security group. This value is stored
                  as a lowercase string. \n Constraints: \n    * Must be 1 to 255
                  letters, numbers, or hyphens. \n    * First character must be a
                  letter \n    * Can't end with a hyphen or contain two consecutive
                  hyphens \n    * Must not be \"Default\" \n Example: mysecuritygroup"
                type: string
              tags:
                description: Tags to assign to the DB security group.
                items:
                  description: Metadata assigned to an Amazon RDS resource consisting
                    of a key-value pair.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
            required:
            - description
            - name
            type: object
          status:
            description: DBSecurityGroupStatus defines the observed state of DBSecurityGroup
            properties:
              ackResourceMetadata:
                description: All CRs managed by ACK have a common `Status.ACKResourceMetadata`
                  member that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: 'ARN is the Amazon Resource Name for the resource.
                      This is a globally-unique identifier and is set only by the
                      ACK service controller once the controller has orchestrated
                      the creation of the resource OR when it has verified that an
                      "adopted" resource (a resource where the ARN annotation was
                      set by the Kubernetes user on the CR) exists and matches the
                      supplied CR''s Spec field values. TODO(vijat@): Find a better
                      strategy for resources that do not have ARN in CreateOutputResponse
                      https://github.com/aws/aws-controllers-k8s/issues/270'
                    type: string
                  ownerAccountID:
                    description: OwnerAccountID is the AWS Account ID of the account
                      that owns the backend AWS service API resource.
                    type: string
                required:
                - ownerAccountID
                type: object
              conditions:
                description: All CRS managed by ACK have a common `Status.Conditions`
                  member that contains a collection of `ackv1alpha1.Condition` objects
                  that describe the various terminal states of the CR and its backend
                  AWS service API resource
                items:
                  description: Condition is the common struct used by all CRDs managed
                    by ACK service controllers to indicate terminal states  of the
                    CR and its backend AWS service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              ec2SecurityGroups:
                description: Contains a list of EC2SecurityGroup elements.
                items:
                  description: "This data type is used as a response element in the
                    following actions: \n    * AuthorizeDBSecurityGroupIngress \n
                    \   * DescribeDBSecurityGroups \n    * RevokeDBSecurityGroupIngress"
                  properties:
                    ec2SecurityGroupID:
                      type: string
                    ec2SecurityGroupName:
                      type: string
                    ec2SecurityGroupOwnerID:
                      type: string
                    status:
                      type: string
                  type: object
                type: array
              iPRanges:
                description: Contains a list of IPRange elements.
                items:
                  description: This data type is used as a response element in the
                    DescribeDBSecurityGroups action.
                  properties:
                    cidrIP:
                      type: string
                    status:
                      type: string
                  type: object
                type: array
              ownerID:
                description: Provides the Amazon Web Services ID of the owner of a
                  specific DB security group.
                type: string
              vpcID:
                description: Provides the VpcId of the DB security group.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
