#
# Copyright (c) 2019-2023 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    name: kubernetes-image-puller-operator
  name: kubernetes-image-puller-operator-manager-metrics-service
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    name: kubernetes-image-puller-operator
status:
  loadBalancer: {}
