apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/part-of: knative-operator
    app.kubernetes.io/version: v1.6.0
    operator.knative.dev/release: v1.6.0
  name: knative-serving-operator-aggregated-stable
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: knative-serving-operator-aggregated-stable
subjects:
- kind: ServiceAccount
  name: knative-operator
  namespace: operators
