apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-sagemaker-reader
rules:
- apiGroups:
  - sagemaker.services.k8s.aws
  resources:
  - apps
  - dataqualityjobdefinitions
  - domains
  - endpoints
  - endpointconfigs
  - featuregroups
  - hyperparametertuningjobs
  - inferencecomponents
  - labelingjobs
  - models
  - modelbiasjobdefinitions
  - modelexplainabilityjobdefinitions
  - modelpackages
  - modelpackagegroups
  - modelqualityjobdefinitions
  - monitoringschedules
  - notebookinstances
  - notebookinstancelifecycleconfigs
  - pipelines
  - pipelineexecutions
  - processingjobs
  - trainingjobs
  - transformjobs
  - userprofiles
  verbs:
  - get
  - list
  - watch
