apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    rbac.ext-remediation/aggregate-to-ext-remediation: "true"
    self-node-remediation-operator: ""
  name: self-node-remediation-ext-remediation
rules:
- apiGroups:
  - self-node-remediation.medik8s.io
  resources:
  - selfnoderemediationtemplates
  verbs:
  - get
- apiGroups:
  - self-node-remediation.medik8s.io
  resources:
  - selfnoderemediations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
