apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: oracle-database-operator-system/oracle-database-operator-serving-cert
    controller-gen.kubebuilder.io/version: v0.18.0
  creationTimestamp: null
  name: privateais.privateai.oracle.com
spec:
  group: privateai.oracle.com
  names:
    kind: PrivateAi
    listKind: PrivateAiList
    plural: privateais
    singular: privateai
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.replicas
      name: Replicas
      type: number
    - jsonPath: .status.paiSecret.apiKey
      name: ApiKey
      type: string
    - jsonPath: .status.podIP
      name: PodIP
      type: string
    - jsonPath: .status.loadBalancerIP
      name: LbIP
      type: string
    - jsonPath: .status.releaseUpdate
      name: ReleaseUpdate
      priority: 1
      type: string
    name: v4
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              envVars:
                items:
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              isDebug:
                type: boolean
              isDeleteOraPvc:
                type: boolean
              isDownloadScripts:
                type: boolean
              isExternalSvc:
                default: "true"
                enum:
                - "true"
                - "false"
                type: string
              livenessCheckPeriod:
                type: integer
              nodePortSvc:
                items:
                  properties:
                    name:
                      type: string
                    portMappings:
                      items:
                        properties:
                          nodePort:
                            format: int32
                            type: integer
                          port:
                            format: int32
                            type: integer
                          protocol:
                            type: string
                          targetPort:
                            format: int32
                            type: integer
                        required:
                        - port
                        - protocol
                        - targetPort
                        type: object
                      type: array
                    svcType:
                      type: string
                  type: object
                type: array
              paiConfigFile:
                properties:
                  mountLocation:
                    type: string
                  name:
                    type: string
                type: object
              paiEnableAuthentication:
                default: "false"
                enum:
                - "true"
                - "false"
                type: string
              paiHTTPEnabled:
                enum:
                - "true"
                - "false"
                type: string
              paiHTTPPort:
                format: int32
                type: integer
              paiHTTPSEnabled:
                enum:
                - "true"
                - "false"
                type: string
              paiHTTPSPort:
                format: int32
                type: integer
              paiImage:
                type: string
              paiImagePullSecret:
                type: string
              paiInternalLB:
                default: "false"
                enum:
                - "true"
                - "false"
                type: string
              paiLBExternalTrafficPolicy:
                default: local
                enum:
                - local
                - cluster
                type: string
              paiLBIP:
                type: string
              paiLBPort:
                format: int32
                type: integer
              paiLogLocation:
                type: string
              paiSecret:
                properties:
                  mountLocation:
                    type: string
                  name:
                    type: string
                type: object
              paiService:
                properties:
                  name:
                    type: string
                  portMappings:
                    items:
                      properties:
                        nodePort:
                          format: int32
                          type: integer
                        port:
                          format: int32
                          type: integer
                        protocol:
                          type: string
                        targetPort:
                          format: int32
                          type: integer
                      required:
                      - port
                      - protocol
                      - targetPort
                      type: object
                    type: array
                  svcType:
                    type: string
                type: object
              pailbAnnotation:
                additionalProperties:
                  type: string
                type: object
              portMappings:
                items:
                  properties:
                    nodePort:
                      format: int32
                      type: integer
                    port:
                      format: int32
                      type: integer
                    protocol:
                      type: string
                    targetPort:
                      format: int32
                      type: integer
                  required:
                  - port
                  - protocol
                  - targetPort
                  type: object
                type: array
              pvcList:
                additionalProperties:
                  type: string
                type: object
              readinessCheckPeriod:
                type: integer
              replicas:
                format: int32
                type: integer
              resources:
                properties:
                  claims:
                    items:
                      properties:
                        name:
                          type: string
                        request:
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                    x-kubernetes-list-map-keys:
                    - name
                    x-kubernetes-list-type: map
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    type: object
                type: object
              storageClass:
                type: string
              storageSizeInGb:
                format: int32
                type: integer
              workerNodes:
                items:
                  type: string
                type: array
            type: object
          status:
            properties:
              NodeIP:
                type: string
              clusterIP:
                type: string
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              loadBalancerIP:
                type: string
              paiConfigMap:
                properties:
                  name:
                    type: string
                  resourceVersion:
                    type: string
                type: object
              paiSecret:
                properties:
                  apiKey:
                    type: string
                  certpem:
                    type: string
                  name:
                    type: string
                  resourceVersion:
                    type: string
                type: object
              podIP:
                type: string
              releaseUpdate:
                type: string
              replicas:
                type: integer
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
