apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "k8s.mondoo.com/v1alpha2",
          "kind": "MondooAuditConfig",
          "metadata": {
            "name": "mondoo-client",
            "namespace": "mondoo-operator"
          },
          "spec": {
            "admission": {
              "certificateProvisioning": {
                "mode": "cert-manager"
              },
              "enable": true
            },
            "kubernetesResources": {
              "enable": false
            },
            "mondooCredsSecretRef": {
              "name": "mondoo-client"
            },
            "nodes": {
              "enable": true
            }
          }
        },
        {
          "apiVersion": "k8s.mondoo.com/v1alpha2",
          "kind": "MondooOperatorConfig",
          "metadata": {
            "name": "mondoo-operator-config"
          },
          "spec": {
            "metrics": {
              "enable": false
            },
            "skipContainerResolution": false
          }
        }
      ]
    capabilities: Full Lifecycle
    categories: Security
    certified: "false"
    containerImage: ghcr.io/mondoohq/mondoo-operator:v0.6.0
    description: Mondoo is a cloud security platform for infrastructure developers. Using Mondoo, your team will get automated risk assessment and real-time insights into all of your business critical infrastructure, across all of your infrastructure platforms.
    operators.operatorframework.io/builder: operator-sdk-v1.21.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/mondoohq/mondoo-operator
    support: Mondoo
  name: mondoo-operator.v0.6.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: MondooAuditConfig is the Schema for the mondooauditconfigs API
        displayName: Mondoo Audit Config
        kind: MondooAuditConfig
        name: mondooauditconfigs.k8s.mondoo.com
        version: v1alpha2
      - description: MondooOperatorConfig is the Schema for the mondoooperatorconfigs API
        displayName: Mondoo Operator Config
        kind: MondooOperatorConfig
        name: mondoooperatorconfigs.k8s.mondoo.com
        version: v1alpha2
  description: |
    The **Mondoo Operator** provides a new [Kubernetes](https://kubernetes.io/) native way to do a security assessment of your whole Kubernetes Cluster. The purpose of this project is to simplify and automate the configuration for a Mondoo-based security assessment for Kubernetes clusters.

    The Mondoo Operator provides the following features:

    - Continuous validation of deployed workloads
    - Continuous validation of Kubernetes nodes **without** priviledged access
    - Admission Controller (coming soon)

    It is backed by Mondoo's powerful [Policy-as-Code](https://mondoo.com/docs/getstarted/policy-as-code) engine and [MQL](https://mondoo.com/docs/getstarted/policy-as-code#introducing-the-mondoo-query-language-mql). Mondoo ships out-of-the-box security polices for:

    - CIS Kubernetes Benchmark
    - Kubernetes Application Benchmark

    Further information is available at [service-account-doc](https://github.com/mondoohq/mondoo-operator/blob/main/docs/user-manual-olm.md).
    ```

    1. Install the operator

    2. Configure the Mondoo Secret

    - Create a new Mondoo service account to report assessments to [Mondoo Platform](https://mondoo.com/docs/platform/service_accounts)
    - Store the service account json into a local file `creds.json`
    - Store service account as a secret in the mondoo namespace via:

    ```bash
    kubectl create secret generic mondoo-client --namespace mondoo-operator --from-file=config=creds.json
    ```

    3. Create `mondoo-config.yaml`

    ```yaml
    apiVersion: k8s.mondoo.com/v1alpha2
    kind: MondooAuditConfig
    metadata:
      name: mondoo-client
      namespace: mondoo-operator
    spec:
      kubernetesResources:
        enable: true
        serviceAccountName: mondoo-operator-k8s-resources-scanning
      nodes:
        enable: true
      mondooCredsSecretRef: mondoo-client
    ```

    Apply the configuration via:

    ```bash
    kubectl apply -f mondoo-config.yaml
    ```

    4. You can see the results in the [dashboard](https://console.mondoo.com)
  displayName: mondoo-operator
  icon:
    - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh LS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoK PHN2ZwogICB3aWR0aD0iODUuMDYzNTUzbW0iCiAgIGhlaWdodD0iMTguMzYxODM0bW0iCiAgIHZp ZXdCb3g9IjAgMCA4NS4wNjM1NTMgMTguMzYxODM0IgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJz dmcxMzMwIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIxLjEgKGM0ZThmOWVkNzQsIDIwMjEtMDUtMjQp IgogICBzb2RpcG9kaTpkb2NuYW1lPSJtb25kb28gLSBub2ljb24gLSBibGFjay5zdmciCiAgIHht bG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBl IgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQv c29kaXBvZGktMC5kdGQiCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAg eG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHNvZGlwb2RpOm5hbWVk dmlldwogICAgIGlkPSJuYW1lZHZpZXcxMzMyIgogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAg ICBib3JkZXJjb2xvcj0iI2VlZWVlZSIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIGlua3Nj YXBlOnBhZ2VzaGFkb3c9IjAiCiAgICAgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAiCiAgICAgaW5r c2NhcGU6cGFnZWNoZWNrZXJib2FyZD0iMCIKICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0i bW0iCiAgICAgc2hvd2dyaWQ9ImZhbHNlIgogICAgIGZpdC1tYXJnaW4tdG9wPSIxIgogICAgIGZp dC1tYXJnaW4tbGVmdD0iMSIKICAgICBmaXQtbWFyZ2luLXJpZ2h0PSIxIgogICAgIGZpdC1tYXJn aW4tYm90dG9tPSIxIgogICAgIGlua3NjYXBlOnpvb209IjEiCiAgICAgaW5rc2NhcGU6Y3g9IjIy LjUiCiAgICAgaW5rc2NhcGU6Y3k9IjY2LjUiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIx OTIwIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwNjIiCiAgICAgaW5rc2NhcGU6d2lu ZG93LXg9IjAiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjE4IgogICAgIGlua3NjYXBlOndpbmRv dy1tYXhpbWl6ZWQ9IjEiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ibGF5ZXIxIiAvPgog IDxkZWZzCiAgICAgaWQ9ImRlZnMxMzI3IiAvPgogIDxnCiAgICAgaW5rc2NhcGU6bGFiZWw9Ikxh eWVyIDEiCiAgICAgaW5rc2NhcGU6Z3JvdXBtb2RlPSJsYXllciIKICAgICBpZD0ibGF5ZXIxIgog ICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00Ni43Mzk4ODIsLTU1LjAyNjAxNikiPgogICAgPGcK ICAgICAgIGlkPSJnOTQwIgogICAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMC4yNjQ1ODMzMywwLDAs MC4yNjQ1ODMzMywtMTI0OS4zOTE4LC05NS42ODE4KSI+CiAgICAgIDxwYXRoCiAgICAgICAgIGQ9 Im0gNDk3OC42MDUsNjEzLjgzMzg4IGMgMCwtMTIuOTIgMTAuMywtMjEuNDcgMjEuOTEsLTIxLjQ3 IDExLjYxLDAgMjEuOTEsOC41NSAyMS45MSwyMS40NyAwLDEyLjkyIC0xMC4zLDIxLjM5IC0yMS45 MSwyMS4zOSAtMTEuNjEsMCAtMjEuOTEsLTguNTQgLTIxLjkxLC0yMS4zOSB6IG0gMzIuMjEsMCBj IDAsLTYuMzcgLTQuNjMsLTEwLjgyIC0xMC4zLC0xMC44MiAtNS42NywwIC0xMC4zLDQuNDUgLTEw LjMsMTAuODIgMCw2LjM3IDQuNjMsMTAuNzQgMTAuMywxMC43NCA1LjY3LDAgMTAuMzIsLTQuNDUg MTAuMzIsLTEwLjc0IHoiCiAgICAgICAgIGZpbGw9IiMyMjIyMjIiCiAgICAgICAgIGlkPSJwYXRo OTI4IgogICAgICAgICBzdHlsZT0iZmlsbDojMmEyYTJhO2ZpbGwtb3BhY2l0eToxIiAvPgogICAg ICA8cGF0aAogICAgICAgICBkPSJtIDQ5NzUuMDg1LDYzNC4zODM4OCBoIC0xMi40IGwgLTQuMzYs LTM3LjI3IC0xNC42NywzMC40NiBoIC05LjUxIGwgLTE0Ljg0LC0zMC40NiAtNC4zNiwzNy4yNyBo IC0xMi40IGwgNy40MiwtNjEgaCA2LjIxIGMgMS4yMjMsMCAyLjQyMSwwLjM0NSAzLjQ1MywxLjAw MSAxLjAzMywwLjY1NSAxLjg1NywxLjU5MSAyLjM3NywyLjY5OSBsIDE2LjgzLDM2LjYgMTYuNjgs LTM2LjU3IGMgMC41MTksLTEuMTEzIDEuMzQ2LC0yLjA1NCAyLjM4MiwtMi43MTMgMS4wMzcsLTAu NjU5IDIuMjQsLTEuMDA5IDMuNDY4LC0xLjAwNyBoIDYuMzYgeiIKICAgICAgICAgZmlsbD0iIzIy MjIyMiIKICAgICAgICAgaWQ9InBhdGg5MzAiCiAgICAgICAgIHN0eWxlPSJmaWxsOiMyYTJhMmE7 ZmlsbC1vcGFjaXR5OjEiIC8+CiAgICAgIDxwYXRoCiAgICAgICAgIGQ9Im0gNTA2OC4xMDQsNjEx LjgyMzg4IHYgMjIuMzUgaCAtMTEuNDQgdiAtMjEuNzMgYyAwLC02LjM4IC0zLjg0LC05LjI2IC03 Ljc2LC05LjI2IC00LjExLDAgLTkuMTcsMi4xOSAtOS4xNyw5LjYgdiAyMS4zOSBoIC0xMS40MyB2 IC00MC43NiBoIDQuNTMgYyAwLjkwNiwwIDEuODAzLDAuMTc2IDIuNjQsMC41MjEgMC44MzcsMC4z NDYgMS41OTgsMC44NTMgMi4yMzksMS40OTMgMC42NDEsMC42NCAxLjE0OSwxLjQgMS40OTYsMi4y MzcgMC4zNDcsMC44MzYgMC41MjUsMS43MzMgMC41MjUsMi42MzkgMS43NSwtNS41IDguMiwtNy45 NCAxMi4yMiwtNy45NCAxMC42NSwwIDE2LjI0LDcuMjQgMTYuMTUsMTkuNDYgeiIKICAgICAgICAg ZmlsbD0iIzIyMjIyMiIKICAgICAgICAgaWQ9InBhdGg5MzIiCiAgICAgICAgIHN0eWxlPSJmaWxs OiMyYTJhMmE7ZmlsbC1vcGFjaXR5OjEiIC8+CiAgICAgIDxwYXRoCiAgICAgICAgIGQ9Im0gNTEx NC43MTQsNTczLjQxMzg4IGggMy43OCB2IDYwLjc2IGggLTExLjQzIHYgLTUuMDYgYyAtMi44OCw0 LjE5IC04LjU2LDYuMTEgLTEzLjEsNi4xMSAtMTAuNDcsMCAtMjAsLTguMzggLTIwLC0yMS40OCAw LC0xMy4xIDkuNTIsLTIxLjM4IDIwLC0yMS4zOCA0LjcyLDAgMTAuMjIsMS44MyAxMy4xLDYgdiAt MTcuMyBjIDAsLTIuMDI5IDAuODA2LC0zLjk3NSAyLjI0MSwtNS40MSAxLjQzNSwtMS40MzQgMy4z ODEsLTIuMjQgNS40MDksLTIuMjQgeiBtIC04LDQwLjMzIGMgMCwtMi44MTcgLTEuMTE1LC01LjUx OSAtMy4wOTEsLTcuNTI2IC0xLjk3NywtMi4wMDYgLTQuNjYyLC0zLjE1NyAtNy40NzgsLTMuMjA0 IC0xLjM5OSwwLjAxIC0yLjc4MiwwLjI5NCAtNC4wNywwLjgzOCAtMS4yODgsMC41NDUgLTIuNDU2 LDEuMzM4IC0zLjQzNywyLjMzNSAtMC45ODEsMC45OTcgLTEuNzU2LDIuMTc4IC0yLjI4LDMuNDc0 IC0wLjUyNCwxLjI5NyAtMC43ODcsMi42ODQgLTAuNzc0LDQuMDgzIC0wLjA0MywxLjQxNCAwLjE5 OCwyLjgyNCAwLjcwOSw0LjE0MyAwLjUxMiwxLjMyIDEuMjgzLDIuNTI0IDIuMjY4LDMuNTQgMC45 ODYsMS4wMTYgMi4xNjUsMS44MjQgMy40NjksMi4zNzYgMS4zMDMsMC41NTEgMi43MDQsMC44MzYg NC4xMTksMC44MzYgMS40MTYsMCAyLjgxNywtMC4yODUgNC4xMiwtMC44MzYgMS4zMDQsLTAuNTUy IDIuNDgzLC0xLjM2IDMuNDY5LC0yLjM3NiAwLjk4NSwtMS4wMTYgMS43NTYsLTIuMjIgMi4yNjgs LTMuNTQgMC41MTEsLTEuMzE5IDAuNzUyLC0yLjcyOSAwLjcwOCwtNC4xNDMgeiIKICAgICAgICAg ZmlsbD0iIzIyMjIyMiIKICAgICAgICAgaWQ9InBhdGg5MzQiCiAgICAgICAgIHN0eWxlPSJmaWxs OiMyYTJhMmE7ZmlsbC1vcGFjaXR5OjEiIC8+CiAgICAgIDxwYXRoCiAgICAgICAgIGQ9Im0gNTEy NC4zNzUsNjEzLjgzMzg4IGMgMCwtMTIuOTIgMTAuMywtMjEuNDcgMjEuOSwtMjEuNDcgMTEuNiww IDIxLjkxLDguNTUgMjEuOTEsMjEuNDcgMCwxMi45MiAtMTAuMywyMS4zOSAtMjEuOTEsMjEuMzkg LTExLjYxLDAgLTIxLjksLTguNTQgLTIxLjksLTIxLjM5IHogbSAzMi4yLDAgYyAwLC02LjM3IC00 LjYyLC0xMC44MiAtMTAuMywtMTAuODIgLTUuNjgsMCAtMTAuMyw0LjQ1IC0xMC4zLDEwLjgyIDAs Ni4zNyA0LjYzLDEwLjc0IDEwLjMsMTAuNzQgNS42NywwIDEwLjMsLTQuNDUgMTAuMywtMTAuNzQg eiIKICAgICAgICAgZmlsbD0iIzIyMjIyMiIKICAgICAgICAgaWQ9InBhdGg5MzYiCiAgICAgICAg IHN0eWxlPSJmaWxsOiMyYTJhMmE7ZmlsbC1vcGFjaXR5OjEiIC8+CiAgICAgIDxwYXRoCiAgICAg ICAgIGQ9Im0gNTE3Mi42NjYsNjEzLjgzMzg4IGMgMCwtMTIuOTIgMTAuMywtMjEuNDcgMjEuOTEs LTIxLjQ3IDExLjYxLDAgMjEuOTEsOC41NSAyMS45MSwyMS40NyAwLDEyLjkyIC0xMC4zLDIxLjM5 IC0yMS45MSwyMS4zOSAtMTEuNjEsMCAtMjEuOTEsLTguNTQgLTIxLjkxLC0yMS4zOSB6IG0gMzIu MjEsMCBjIDAsLTYuMzcgLTQuNjIsLTEwLjgyIC0xMC4zLC0xMC44MiAtNS42OCwwIC0xMC4zLDQu NDUgLTEwLjMsMTAuODIgMCw2LjM3IDQuNjMsMTAuNzQgMTAuMywxMC43NCA1LjY3LDAgMTAuMjYs LTQuNDUgMTAuMjYsLTEwLjc0IHoiCiAgICAgICAgIGZpbGw9IiMyMjIyMjIiCiAgICAgICAgIGlk PSJwYXRoOTM4IgogICAgICAgICBzdHlsZT0iZmlsbDojMmEyYTJhO2ZpbGwtb3BhY2l0eToxIiAv PgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==
      mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - admissionregistration.k8s.io
              resources:
                - validatingwebhookconfigurations
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - apps
              resources:
                - deployments
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - batch
              resources:
                - cronjobs
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - cert-manager.io
              resources:
                - certificates
                - issuers
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - namespaces
                - nodes
                - pods
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - create
                - delete
            - apiGroups:
                - ""
              resourceNames:
                - mondoo-client
                - mondoo-token
              resources:
                - secrets
              verbs:
                - get
            - apiGroups:
                - ""
              resources:
                - services
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondooauditconfigs
              verbs:
                - get
                - list
                - update
                - watch
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondooauditconfigs/finalizers
              verbs:
                - update
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondooauditconfigs/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondoooperatorconfigs
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondoooperatorconfigs/finalizers
              verbs:
                - update
            - apiGroups:
                - k8s.mondoo.com
              resources:
                - mondoooperatorconfigs/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - monitoring.coreos.com
              resources:
                - servicemonitors
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
          serviceAccountName: mondoo-operator-controller-manager
      deployments:
        - label:
            control-plane: controller-manager
          name: mondoo-operator-controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy: {}
            template:
              metadata:
                annotations:
                  kubectl.kubernetes.io/default-container: manager
                labels:
                  control-plane: controller-manager
              spec:
                containers:
                  - args:
                      - operator
                      - --health-probe-bind-address=:8081
                      - --metrics-bind-address=:8080
                      - --leader-elect
                    command:
                      - /mondoo-operator
                    image: ghcr.io/mondoohq/mondoo-operator:v0.6.0
                    imagePullPolicy: IfNotPresent
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    ports:
                      - containerPort: 8080
                        name: metrics
                        protocol: TCP
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 200m
                        memory: 100Mi
                      requests:
                        cpu: 100m
                        memory: 20Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      readOnlyRootFilesystem: true
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: mondoo-operator-controller-manager
                terminationGracePeriodSeconds: 10
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: mondoo-operator-controller-manager
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - policy-as-code
  links:
    - name: Mondoo
      url: https://mondoo.com
  maintainers:
    - email: hello@mondoo.com
      name: Mondoo
  maturity: alpha
  provider:
    name: Mondoo, Inc
  version: 0.6.0
  replaces: mondoo-operator.v0.5.1
