apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  creationTimestamp: null
  name: deviceclasses.multinic.fms.io
spec:
  group: multinic.fms.io
  names:
    kind: DeviceClass
    listKind: DeviceClassList
    plural: deviceclasses
    singular: deviceclass
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: DeviceClass is the Schema for the deviceclasses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DeviceClassSpec defines the desired state of DeviceClass
            properties:
              ids:
                items:
                  properties:
                    products:
                      items:
                        type: string
                      type: array
                    vendor:
                      type: string
                  required:
                  - products
                  - vendor
                  type: object
                type: array
            required:
            - ids
            type: object
          status:
            description: DeviceClassStatus defines the observed state of DeviceClass
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
