apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: cainjector
    app.kubernetes.io/component: cainjector
    app.kubernetes.io/instance: cert-manager
    app.kubernetes.io/name: cainjector
    app.kubernetes.io/version: v1.16.5
  name: cert-manager-cainjector
spec:
  ports:
  - name: http-metrics
    port: 9402
    protocol: TCP
    targetPort: 0
  selector:
    app.kubernetes.io/component: cainjector
    app.kubernetes.io/instance: cert-manager
    app.kubernetes.io/name: cainjector
  type: ClusterIP
status:
  loadBalancer: {}
