apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: sn-operator-kafkacluster-editor-role
rules:
- apiGroups:
  - k8s.streamnative.io
  resources:
  - kafkaclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.streamnative.io
  resources:
  - kafkaclusters/status
  verbs:
  - get
