apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: sn-operator-kafkacluster-viewer-role
rules:
- apiGroups:
  - k8s.streamnative.io
  resources:
  - kafkaclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - k8s.streamnative.io
  resources:
  - kafkaclusters/status
  verbs:
  - get
