apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  creationTimestamp: null
  name: vpclinks.apigateway.services.k8s.aws
spec:
  group: apigateway.services.k8s.aws
  names:
    kind: VPCLink
    listKind: VPCLinkList
    plural: vpclinks
    singular: vpclink
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VPCLink is the Schema for the VPCLinks API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              VpcLinkSpec defines the desired state of VpcLink.

              An API Gateway VPC link for a RestApi to access resources in an Amazon Virtual
              Private Cloud (VPC).
            properties:
              description:
                description: The description of the VPC link.
                type: string
              name:
                description: The name used to label and identify the VPC link.
                type: string
              tags:
                additionalProperties:
                  type: string
                description: |-
                  The key-value map of strings. The valid character set is [a-zA-Z+-=._:/].
                  The tag key can be up to 128 characters and must not start with aws:. The
                  tag value can be up to 256 characters.
                type: object
              targetARNs:
                description: |-
                  The ARN of the network load balancer of the VPC targeted by the VPC link.
                  The network load balancer must be owned by the same Amazon Web Services account
                  of the API owner.
                items:
                  type: string
                type: array
                x-kubernetes-validations:
                - message: Value is immutable once set
                  rule: self == oldSelf
            required:
            - name
            - targetARNs
            type: object
          status:
            description: VPCLinkStatus defines the observed state of VPCLink
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRs managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              id:
                description: |-
                  The identifier of the VpcLink. It is used in an Integration to reference
                  this VpcLink.
                type: string
              status:
                description: |-
                  The status of the VPC link. The valid values are AVAILABLE, PENDING, DELETING,
                  or FAILED. Deploying an API will wait if the status is PENDING and will fail
                  if the status is DELETING.
                type: string
              statusMessage:
                description: A description about the VPC link status.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
