apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: mongodb-atlas-kubernetes-operator
    app.kubernetes.io/name: mongodb-atlas-kubernetes-operator
  name: atlasorgsettings.atlas.mongodb.com
spec:
  group: atlas.mongodb.com
  names:
    categories:
    - atlas
    kind: AtlasOrgSettings
    listKind: AtlasOrgSettingsList
    plural: atlasorgsettings
    shortNames:
    - aos
    singular: atlasorgsettings
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AtlasOrgSettingsSpec defines the desired state of AtlasOrgSettings.
            properties:
              apiAccessListRequired:
                description: ApiAccessListRequired Flag that indicates whether to
                  require API operations to originate from an IP Address added to
                  the API access list for the specified organization.
                type: boolean
              connectionSecretRef:
                description: ConnectionSecretRef is the name of the Kubernetes Secret
                  which contains the information about the way to connect to Atlas
                  (Public & Private API keys).
                properties:
                  name:
                    description: |-
                      Name of the resource being referred to
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - name
                type: object
              genAIFeaturesEnabled:
                description: |-
                  GenAIFeaturesEnabled Flag that indicates whether this organization has access to generative AI features. This setting only applies to Atlas Commercial and is enabled by default.
                  Once this setting is turned on, Project Owners may be able to enable or disable individual AI features at the project level.
                type: boolean
              maxServiceAccountSecretValidityInHours:
                description: MaxServiceAccountSecretValidityInHours Number that represents
                  the maximum period before expiry in hours for new Atlas Admin API
                  Service Account secrets within the specified organization.
                type: integer
              multiFactorAuthRequired:
                description: |-
                  MultiFactorAuthRequired Flag that indicates whether to require users to set up Multi-Factor Authentication (MFA) before accessing the specified organization.
                  To learn more, see: https://www.mongodb.com/docs/atlas/security-multi-factor-authentication/.
                type: boolean
              orgID:
                description: OrgId Unique 24-hexadecimal digit string that identifies
                  the organization that contains your projects.
                type: string
              restrictEmployeeAccess:
                description: |-
                  RestrictEmployeeAccess Flag that indicates whether to block MongoDB Support from accessing Atlas infrastructure and cluster logs for any deployment in the specified organization without explicit permission.
                  Once this setting is turned on, you can grant MongoDB Support a 24-hour bypass access to the Atlas deployment to resolve support issues.
                  To learn more, see: https://www.mongodb.com/docs/atlas/security-restrict-support-access/.
                type: boolean
              securityContact:
                description: |-
                  SecurityContact String that specifies a single email address for the specified organization to receive security-related notifications.
                  Specifying a security contact does not grant them authorization or access to Atlas for security decisions or approvals.
                  An empty string is valid and clears the existing security contact (if any).
                type: string
              streamsCrossGroupEnabled:
                description: StreamsCrossGroupEnabled Flag that indicates whether
                  a group's Atlas Stream Processing instances in this organization
                  can create connections to other group's clusters in the same organization.
                type: boolean
            required:
            - orgID
            type: object
          status:
            description: AtlasOrgSettingsStatus defines the observed state of AtlasOrgSettings.
            properties:
              conditions:
                description: Conditions holding the status details
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
