apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: mongodb-atlas-kubernetes-operator
    app.kubernetes.io/name: mongodb-atlas-kubernetes-operator
  name: atlasbackuppolicies.atlas.mongodb.com
spec:
  group: atlas.mongodb.com
  names:
    categories:
    - atlas
    kind: AtlasBackupPolicy
    listKind: AtlasBackupPolicyList
    plural: atlasbackuppolicies
    shortNames:
    - abp
    singular: atlasbackuppolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: AtlasBackupPolicy is the Schema for the atlasbackuppolicies API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AtlasBackupPolicySpec defines the target state of AtlasBackupPolicy.
            properties:
              items:
                description: A list of BackupPolicy items.
                items:
                  properties:
                    frequencyInterval:
                      description: |-
                        Frequency of the new backup policy item specified by FrequencyType. A value of 1 specifies the first instance of the corresponding FrequencyType.
                        You can set FrequencyInterval only to 12 for NVMe clusters.
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      - 15
                      - 16
                      - 17
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 40
                      type: integer
                    frequencyType:
                      description: Frequency associated with the backup policy item.
                        You can specify only one each of hourly or daily backup policy
                        items.
                      enum:
                      - hourly
                      - daily
                      - weekly
                      - monthly
                      - yearly
                      type: string
                    retentionUnit:
                      description: Unit of time in which MongoDB Atlas measures snapshot
                        retention.
                      enum:
                      - days
                      - weeks
                      - months
                      - years
                      type: string
                    retentionValue:
                      description: |-
                        Duration in days, weeks, months, or years that MongoDB Cloud retains the snapshot.
                        For less frequent policy items, MongoDB Cloud requires that you specify a value greater than or equal to the value specified for more frequent policy items.
                      type: integer
                  required:
                  - frequencyInterval
                  - frequencyType
                  - retentionUnit
                  - retentionValue
                  type: object
                type: array
            required:
            - items
            type: object
          status:
            description: BackupPolicyStatus defines the observed state of AtlasBackupPolicy.
            properties:
              backupScheduleIDs:
                description: DeploymentID of the deployment using the backup policy
                items:
                  type: string
                type: array
              conditions:
                description: Conditions is the list of statuses showing the current
                  state of the Atlas Custom Resource
                items:
                  description: Condition describes the state of an Atlas Custom Resource
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        Represented in ISO 8601 format.
                      format: date-time
                      type: string
                    message:
                      description: A message providing details about the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition; one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of Atlas Custom Resource condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: |-
                  ObservedGeneration indicates the generation of the resource specification of which the Atlas Operator is aware.
                  The Atlas Operator updates this field to the value of 'metadata.generation' as soon as it starts reconciliation of the resource.
                format: int64
                type: integer
            required:
            - conditions
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
