apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  creationTimestamp: null
  name: managedprefixlists.ec2.services.k8s.aws
spec:
  group: ec2.services.k8s.aws
  names:
    kind: ManagedPrefixList
    listKind: ManagedPrefixListList
    plural: managedprefixlists
    singular: managedprefixlist
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.id
      name: ID
      type: string
    - jsonPath: .status.state
      name: STATE
      type: string
    - jsonPath: .status.version
      name: VERSION
      type: integer
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagedPrefixList is the Schema for the ManagedPrefixLists API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              ManagedPrefixListSpec defines the desired state of ManagedPrefixList.

              Describes a managed prefix list.
            properties:
              addressFamily:
                description: |-
                  The IP address type.

                  Valid Values: IPv4 | IPv6
                type: string
              entries:
                items:
                  description: An entry for a prefix list.
                  properties:
                    cidr:
                      type: string
                    description:
                      type: string
                  type: object
                type: array
              maxEntries:
                description: The maximum number of entries for the prefix list.
                format: int64
                type: integer
              name:
                description: |-
                  A name for the prefix list.

                  Constraints: Up to 255 characters in length. The name cannot start with com.amazonaws.
                type: string
              tags:
                description: |-
                  The tags. The value parameter is required, but if you don't want the tag
                  to have a value, specify the parameter with no value, and we set the value
                  to an empty string.
                items:
                  description: Describes a tag.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
            required:
            - addressFamily
            - maxEntries
            - name
            type: object
          status:
            description: ManagedPrefixListStatus defines the observed state of ManagedPrefixList
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRs managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              id:
                description: The ID of the prefix list.
                type: string
              ownerID:
                description: The ID of the owner of the prefix list.
                type: string
              state:
                description: The current state of the prefix list.
                type: string
              stateMessage:
                description: The state message.
                type: string
              version:
                description: The version of the prefix list.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
