apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-ec2-writer
rules:
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - internetgateways
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - vpcs
  - vpcendpoints
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - internetgateways
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - vpcs
  - vpcendpoints
  verbs:
  - get
  - patch
  - update
