apiVersion: v1
data:
  bpfman.agent.healthprobe.addr: :8175
  bpfman.agent.image: quay.io/bpfman/bpfman-agent:v0.5.5
  bpfman.agent.log.level: info
  bpfman.agent.metric.addr: 127.0.0.1:8174
  bpfman.image: quay.io/bpfman/bpfman:v0.5.5
  bpfman.log.level: info
  bpfman.toml: |
    [database]
    max_retries = 30
    millisec_delay = 10000
kind: ConfigMap
metadata:
  annotations: {}
  labels: {}
  name: bpfman-config
