apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "authorino.kuadrant.io/v1beta1",
          "kind": "AuthConfig",
          "metadata": {
            "name": "my-api-protection"
          },
          "spec": {
            "hosts": [
              "my-api.io"
            ],
            "identity": [
              {
                "apiKey": {
                  "selector": {
                    "matchLabels": {
                      "group": "friends"
                    }
                  }
                },
                "credentials": {
                  "in": "authorization_header",
                  "keySelector": "APIKEY"
                },
                "name": "api-key-users"
              }
            ]
          }
        },
        {
          "apiVersion": "authorino.kuadrant.io/v1beta2",
          "kind": "AuthConfig",
          "metadata": {
            "name": "my-api-protection"
          },
          "spec": {
            "authentication": {
              "api-key-users": {
                "apiKey": {
                  "selector": {
                    "matchLabels": {
                      "group": "friends"
                    }
                  }
                },
                "credentials": {
                  "authorizationHeader": {
                    "prefix": "APIKEY"
                  }
                }
              }
            },
            "hosts": [
              "my-api.io"
            ]
          }
        },
        {
          "apiVersion": "operator.authorino.kuadrant.io/v1beta1",
          "kind": "Authorino",
          "metadata": {
            "name": "authorino-sample"
          },
          "spec": {
            "listener": {
              "tls": {
                "enabled": false
              }
            },
            "oidcServer": {
              "tls": {
                "enabled": false
              }
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Integration & Delivery
    containerImage: quay.io/kuadrant/authorino-operator:v0.13.0
    createdAt: "2024-10-02T16:41:48Z"
    operators.operatorframework.io/builder: operator-sdk-v1.32.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/Kuadrant/authorino-operator
    support: kuadrant
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/arch.ppc64le: supported
    operatorframework.io/arch.s390x: supported
    operatorframework.io/os.linux: supported
  name: authorino-operator.v0.13.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: API to describe the desired protection for a service
        displayName: AuthConfig
        kind: AuthConfig
        name: authconfigs.authorino.kuadrant.io
        version: v1beta1
      - description: API to describe the desired protection for a service
        displayName: AuthConfig
        kind: AuthConfig
        name: authconfigs.authorino.kuadrant.io
        version: v1beta2
      - description: API to create instances of authorino
        displayName: Authorino
        kind: Authorino
        name: authorinos.operator.authorino.kuadrant.io
        version: v1beta1
  description: The operator to manage instances of Authorino
  displayName: Authorino Operator
  icon:
    - base64data: iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAIAAAAiOjnJAAAHCklEQVR4nOzc72tWdQPH8e+tm/ecXGNO77mb3beZLgtkDxpCgT4IBBFqJT1YRqFS5oMS/BG5ioqhUc3IFKwHpqHSg9qDsCwIQeiBQoEotISyzcwa6bI5Nlyms8X4Lp1u1zzXub6f8/2ea+/XH3DO58GbXeec69opGhgYMIBrE3wPQGEiLEgQFiQICxKEBQnCggRhQYKwIEFYkCAsSBAWJAgLEoQFCcKCBGFBgrAgQViQICxIEBYkCAsShAUJwoIEYUGCsCBBWJAgLEgQFiQICxKEBQnCggRhQYKwIEFYkCAsSBAWJAgLEoQFCcKCBGFBgrAgQViQICxIEBYkCAsShAUJwoIEYUGCsCBR5HtAJI89uqytvT2fI2zetHnxkiXuFgn1d3eead44s3FLUXml7y3xpSOstvb24998m88Rurq63M0R6u/uPPlkw6VjZy+dbJi7uyW9bfFRGJBrVRljLh07++Mrz/heFB9hhWJ4VVbvgdZTL6z0Oio+wgrCyKqs7g+/+mX7855G5YWw/MtWldW5bf/5lh2Jj8oXYXk2dlVWR/POvtbDCY5ygLB8ilKVMeZq1+X2Dev7uzuT2uUAYXkTsSrrSltv+/o0XcgTlh85VWVd/PLUufdfU45yibA8iFGV1bF5X1outggraX2th+NVZZ1uesn1IgnCSlRf6+EfVj4duyr7RD4VT7YIKzm2qqtdl/M8Tue2/X/+dMLRKBXCSoirqqzTTc85OY4OYSXBbVX2DrH7iw9cHU2BsOScV2X9/NZ2twd0i7C0RFXZR6Yhf4dIWEK6qqyO5p3Bfs9DWCrqqux3iGf3btUdPx+EJZFAVdaFzw6pTxEPYbmXWFUhX2kRlmNJVmX9+t7exM4VHWG5lHxV9o9Wz5EDSZ4xCsJyxktV1rmP9iV/0rERlhseq7L/zxPacwfCcsBvVdbvH+/yePaRCCtfIVQ1GNbnB/0OuAlh5SWQquzvtIL6LQ1hxRdOVVb3oU98T7iOsGIKrarQPg0JK44Aq7KfhuHcGxJWzsKsyuo+2OJ7whDCyk3IVRljeo4f9T1hCGHl4HzLju8eXBVsVcaYi0dDuTEkrKjOt+w40xji7wiGu9LWG8hlFmFFkoqqrL4TX/ueYAgrkhRVNXiZdfSI7wmGsG4tXVUZY/7I7/XSrhDWWFJX1eBlVsdvvicYwhpLGquyj0l9TzCElVVKq7JCeNURYY0i1VUZY/p7LvieQFgjpL2qwev371t9TyCsGxVAVYPX7709vicQ1jCFUVUgCGtIIVUVwqMswjIFVpUx5q/ei74nEFbBVRWI8R4WVYmM67CoSmdchwWdcR3W9IY1M5vX+F5RmMZ1WLSlM97Doi0RwjKF19aEzBTfEwjrH4XU1uQ5c3xPIKxhCqkt7wjrBoXRVnGmzPcEwhqhANqafGet7wmENZq0t1VUNtX3BMLKItVtldYu9D2BsLJLaVsldVW+JxjCuoU0tlVc/R/fEwxh3Vrq2grhIRZhRZKutsrmL/A9wRBWVClqq3TePb4nGMLKQSraKq7JFJVX+l5hCCs30xvW3PXprokVk3wPyWrK/Hm+JwwhrNyU1i68Y8+7wbZVdvd83xOGEFbOQm6rfHGD7wlDCCuOMNsqqasK5AKLsOILsK1p9y/2PeE6woovtLbKFz3ke8J1hJWXcNoqqav6922h3BISlgOBtBXU5yBhuRFCW9MeXuXx7CMRlht+28rU14ZzP2gRljMe25rxyPLkTzo2wnLJS1vFNZmyBfVJnjEKwnIs+bb++9SKxM4VHWG5l2RbxTWZ6Q0h/uaCsCQSa2vqA4vUp4iHsFQSaGtixaSqFRt0x88HYQmp26puXB3aU4ZrCEtL11awV1cWYcmJ2vr/s2vdHtAtwkqC87am3De7fMnjro6mQFgJcdvWrKY3nRxHh7CS46qtynVLg/qFzKgIK1G2rXxer1BSV/W/tW84HSVBWEkrrV04d3dL7LZmNb3qepEEYXlQVF4Zr63ql5eH8IqiKAjLjxhtZeprZzzxonKUS4TlTU5tFddkbt/0jn6UM4TlU8S2JlZMmrP17WC/vRkVYXkWpa3qxtVpubS6hrD8G7utynVLQ/5OMBvCCkK2tsqX3ZuKp1YjEVYoRraVqa+d/foer6PiI6yADG+rpK4qXbeBNynyPSCSmrxf2FpRUeFoi5Zt60zzxpmNW9J1G3iTfw0MDPjegALERyEkCAsShAUJwoIEYUGCsCBBWJAgLEgQFiQICxKEBQnCggRhQYKwIEFYkCAsSBAWJAgLEoQFCcKCBGFBgrAgQViQICxIEBYkCAsShAUJwoIEYUGCsCBBWJAgLEgQFiQICxKEBQnCggRhQYKwIEFYkCAsSBAWJAgLEoQFCcKCBGFBgrAgQViQICxI/B0AAP//uLJ9vDn6iowAAAAASUVORK5CYII=
      mediatype: image/png
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - configmaps/status
              verbs:
                - delete
                - get
                - patch
                - update
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - serviceaccounts
              verbs:
                - create
                - get
                - list
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - services
              verbs:
                - create
                - get
                - list
                - update
                - watch
            - apiGroups:
                - apps
              resources:
                - deployments
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorino.kuadrant.io
              resources:
                - authconfigs
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - authorino.kuadrant.io
              resources:
                - authconfigs/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - create
                - get
                - list
                - update
            - apiGroups:
                - operator.authorino.kuadrant.io
              resources:
                - authorinos
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - operator.authorino.kuadrant.io
              resources:
                - authorinos/finalizers
              verbs:
                - update
            - apiGroups:
                - operator.authorino.kuadrant.io
              resources:
                - authorinos/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterrolebindings
              verbs:
                - create
                - get
                - list
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterroles
              verbs:
                - create
                - get
                - list
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - rolebindings
              verbs:
                - create
                - get
                - list
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - roles
              verbs:
                - create
                - get
                - list
                - update
                - watch
          serviceAccountName: authorino-operator
      deployments:
        - label:
            control-plane: authorino-operator
          name: authorino-operator
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: authorino-operator
            strategy: {}
            template:
              metadata:
                labels:
                  control-plane: authorino-operator
              spec:
                containers:
                  - args:
                      - --leader-elect
                    command:
                      - /manager
                    image: quay.io/kuadrant/authorino-operator:v0.13.0
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    ports:
                      - containerPort: 8080
                        name: metrics
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 200m
                        memory: 300Mi
                      requests:
                        cpu: 200m
                        memory: 200Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                      readOnlyRootFilesystem: true
                      seccompProfile:
                        type: RuntimeDefault
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: authorino-operator
                terminationGracePeriodSeconds: 10
        - label:
            app: authorino
            authorino-component: authorino-webhooks
          name: authorino-webhooks
          spec:
            selector:
              matchLabels:
                app: authorino
                authorino-component: authorino-webhooks
            strategy: {}
            template:
              metadata:
                labels:
                  app: authorino
                  authorino-component: authorino-webhooks
              spec:
                containers:
                  - command:
                      - authorino
                      - webhooks
                    image: quay.io/kuadrant/authorino:v0.18.0
                    name: webhooks
                    ports:
                      - containerPort: 9443
                        name: webhooks
                      - containerPort: 8080
                        name: metrics
                      - containerPort: 8081
                        name: healthz
                    resources: {}
                    volumeMounts:
                      - mountPath: /tmp/k8s-webhook-server/serving-certs
                        name: cert
                        readOnly: true
                volumes:
                  - name: cert
                    secret:
                      defaultMode: 420
                      secretName: authorino-webhook-server-cert
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: authorino-operator
        - rules:
            - apiGroups:
                - authorino.kuadrant.io
              resources:
                - authconfigs
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - authorino.kuadrant.io
              resources:
                - authconfigs/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - create
                - get
                - list
                - update
            - apiGroups:
                - ""
              resources:
                - configmaps
                - events
              verbs:
                - create
                - get
                - list
                - update
          serviceAccountName: default
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - Authorino
    - Authorino Operator
    - Kuadrant
    - Authorization
    - Authentication
  links:
    - name: Authorino Operator
      url: https://github.com/Kuadrant/authorino-operator
    - name: Authorino
      url: https://github.com/Kuadrant/authorino
  maintainers:
    - email: dcesare@redhat.com
      name: Didier Di Cesare
    - email: eastizle@redhat.com
      name: Eguzki Astiz Lezaun
    - email: mcassola@redhat.com
      name: Guilherme Cassolato
  maturity: alpha
  minKubeVersion: 1.25.0
  provider:
    name: Red Hat
  version: 0.13.0
  webhookdefinitions:
    - admissionReviewVersions:
        - v1beta1
        - v1beta2
      containerPort: 443
      conversionCRDs:
        - authconfigs.authorino.kuadrant.io
      deploymentName: authorino-webhooks
      generateName: cauthconfigs.kb.io
      sideEffects: None
      targetPort: 9443
      type: ConversionWebhook
      webhookPath: /convert
  replaces: authorino-operator.v0.12.0
