apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  creationTimestamp: null
  name: openidconnectproviders.iam.services.k8s.aws
spec:
  group: iam.services.k8s.aws
  names:
    kind: OpenIDConnectProvider
    listKind: OpenIDConnectProviderList
    plural: openidconnectproviders
    singular: openidconnectprovider
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OpenIDConnectProvider is the Schema for the OpenIDConnectProviders
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OpenIDConnectProviderSpec defines the desired state of OpenIDConnectProvider.
            properties:
              clientIDs:
                description: |-
                  Provides a list of client IDs, also known as audiences. When a mobile or
                  web app registers with an OpenID Connect provider, they establish a value
                  that identifies the application. This is the value that's sent as the client_id
                  parameter on OAuth requests.

                  You can register multiple client IDs with the same provider. For example,
                  you might have multiple applications that use the same OIDC provider. You
                  cannot register more than 100 client IDs with a single IAM OIDC provider.

                  There is no defined format for a client ID. The CreateOpenIDConnectProviderRequest
                  operation accepts client IDs up to 255 characters long.
                items:
                  type: string
                type: array
              tags:
                description: |-
                  A list of tags that you want to attach to the new IAM OpenID Connect (OIDC)
                  provider. Each tag consists of a key name and an associated value. For more
                  information about tagging, see Tagging IAM resources (https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                  in the IAM User Guide.

                  If any one of the tags is invalid or if you exceed the allowed maximum number
                  of tags, then the entire request fails and the resource is not created.
                items:
                  description: |-
                    A structure that represents user-provided metadata that can be associated
                    with an IAM resource. For more information about tagging, see Tagging IAM
                    resources (https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                    in the IAM User Guide.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
              thumbprints:
                description: |-
                  A list of server certificate thumbprints for the OpenID Connect (OIDC) identity
                  provider's server certificates. Typically this list includes only one entry.
                  However, IAM lets you have up to five thumbprints for an OIDC provider. This
                  lets you maintain multiple thumbprints if the identity provider is rotating
                  certificates.

                  This parameter is optional. If it is not included, IAM will retrieve and
                  use the top intermediate certificate authority (CA) thumbprint of the OpenID
                  Connect identity provider server certificate.

                  The server certificate thumbprint is the hex-encoded SHA-1 hash value of
                  the X.509 certificate used by the domain where the OpenID Connect provider
                  makes its keys available. It is always a 40-character string.

                  For example, assume that the OIDC provider is server.example.com and the
                  provider stores its keys at https://keys.server.example.com/openid-connect.
                  In that case, the thumbprint string would be the hex-encoded SHA-1 hash value
                  of the certificate used by https://keys.server.example.com.

                  For more information about obtaining the OIDC provider thumbprint, see Obtaining
                  the thumbprint for an OpenID Connect provider (https://docs.aws.amazon.com/IAM/latest/UserGuide/identity-providers-oidc-obtain-thumbprint.html)
                  in the IAM user Guide.
                items:
                  type: string
                type: array
              url:
                description: |-
                  The URL of the identity provider. The URL must begin with https:// and should
                  correspond to the iss claim in the provider's OpenID Connect ID tokens. Per
                  the OIDC standard, path components are allowed but query parameters are not.
                  Typically the URL consists of only a hostname, like https://server.example.org
                  or https://example.com. The URL should not contain a port number.

                  You cannot register the same provider multiple times in a single Amazon Web
                  Services account. If you try to submit a URL that has already been used for
                  an OpenID Connect provider in the Amazon Web Services account, you will get
                  an error.
                type: string
                x-kubernetes-validations:
                - message: Value is immutable once set
                  rule: self == oldSelf
            required:
            - url
            type: object
          status:
            description: OpenIDConnectProviderStatus defines the observed state of
              OpenIDConnectProvider
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRs managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
