apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: service-binding-controller-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: service-binding-controller-role
subjects:
  - kind: ServiceAccount
    name: service-binding-operator
    namespace: operators
  - kind: ServiceAccount
    name: service-binding-operator
    namespace: openshift-operators
  - kind: ServiceAccount
    name: service-binding-operator
    namespace: service-binding-operator

