# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: intel-ethernet-operator-ethernetclusterconfig-viewer-role
rules:
- apiGroups:
  - ethernet.intel.com
  resources:
  - ethernetclusterconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ethernet.intel.com
  resources:
  - ethernetclusterconfigs/status
  verbs:
  - get
