apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  creationTimestamp: null
  name: vpcpeeringconnections.ec2.services.k8s.aws
spec:
  group: ec2.services.k8s.aws
  names:
    kind: VPCPeeringConnection
    listKind: VPCPeeringConnectionList
    plural: vpcpeeringconnections
    singular: vpcpeeringconnection
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VPCPeeringConnection is the Schema for the VPCPeeringConnections
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              VpcPeeringConnectionSpec defines the desired state of VpcPeeringConnection.


              Describes a VPC peering connection.
            properties:
              acceptRequest:
                type: boolean
              accepterPeeringConnectionOptions:
                description: The VPC peering connection options for the accepter VPC.
                properties:
                  allowDNSResolutionFromRemoteVPC:
                    type: boolean
                  allowEgressFromLocalClassicLinkToRemoteVPC:
                    type: boolean
                  allowEgressFromLocalVPCToRemoteClassicLink:
                    type: boolean
                type: object
              peerOwnerID:
                description: |-
                  The Amazon Web Services account ID of the owner of the accepter VPC.


                  Default: Your Amazon Web Services account ID
                type: string
              peerRegion:
                description: |-
                  The Region code for the accepter VPC, if the accepter VPC is located in a
                  Region other than the Region in which you make the request.


                  Default: The Region in which you make the request.
                type: string
              peerVPCID:
                description: |-
                  The ID of the VPC with which you are creating the VPC peering connection.
                  You must specify this parameter in the request.
                type: string
              peerVPCRef:
                description: "AWSResourceReferenceWrapper provides a wrapper around
                  *AWSResourceReference\ntype to provide more user friendly syntax
                  for references using 'from' field\nEx:\nAPIIDRef:\n\n\n\tfrom:\n\t
                  \ name: my-api"
                properties:
                  from:
                    description: |-
                      AWSResourceReference provides all the values necessary to reference another
                      k8s resource for finding the identifier(Id/ARN/Name)
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    type: object
                type: object
              requesterPeeringConnectionOptions:
                description: The VPC peering connection options for the requester
                  VPC.
                properties:
                  allowDNSResolutionFromRemoteVPC:
                    type: boolean
                  allowEgressFromLocalClassicLinkToRemoteVPC:
                    type: boolean
                  allowEgressFromLocalVPCToRemoteClassicLink:
                    type: boolean
                type: object
              tags:
                description: |-
                  The tags. The value parameter is required, but if you don't want the tag
                  to have a value, specify the parameter with no value, and we set the value
                  to an empty string.
                items:
                  description: Describes a tag.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
              vpcID:
                description: The ID of the requester VPC. You must specify this parameter
                  in the request.
                type: string
              vpcRef:
                description: "AWSResourceReferenceWrapper provides a wrapper around
                  *AWSResourceReference\ntype to provide more user friendly syntax
                  for references using 'from' field\nEx:\nAPIIDRef:\n\n\n\tfrom:\n\t
                  \ name: my-api"
                properties:
                  from:
                    description: |-
                      AWSResourceReference provides all the values necessary to reference another
                      k8s resource for finding the identifier(Id/ARN/Name)
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    type: object
                type: object
            type: object
          status:
            description: VPCPeeringConnectionStatus defines the observed state of
              VPCPeeringConnection
            properties:
              accepterVPCInfo:
                description: |-
                  Information about the accepter VPC. CIDR block information is only returned
                  when describing an active VPC peering connection.
                properties:
                  cidrBlock:
                    type: string
                  cidrBlockSet:
                    items:
                      description: Describes an IPv4 CIDR block.
                      properties:
                        cidrBlock:
                          type: string
                      type: object
                    type: array
                  ipv6CIDRBlockSet:
                    items:
                      description: Describes an IPv6 CIDR block.
                      properties:
                        ipv6CIDRBlock:
                          type: string
                      type: object
                    type: array
                  ownerID:
                    type: string
                  peeringOptions:
                    description: |-
                      We are retiring EC2-Classic on August 15, 2022. We recommend that you migrate
                      from EC2-Classic to a VPC. For more information, see Migrate from EC2-Classic
                      to a VPC (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-migrate.html)
                      in the Amazon Elastic Compute Cloud User Guide.


                      Describes the VPC peering connection options.
                    properties:
                      allowDNSResolutionFromRemoteVPC:
                        type: boolean
                      allowEgressFromLocalClassicLinkToRemoteVPC:
                        type: boolean
                      allowEgressFromLocalVPCToRemoteClassicLink:
                        type: boolean
                    type: object
                  region:
                    type: string
                  vpcID:
                    type: string
                type: object
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      TODO(vijat@): Find a better strategy for resources that do not have ARN in CreateOutputResponse
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRS managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              expirationTime:
                description: The time that an unaccepted VPC peering connection will
                  expire.
                format: date-time
                type: string
              requesterVPCInfo:
                description: |-
                  Information about the requester VPC. CIDR block information is only returned
                  when describing an active VPC peering connection.
                properties:
                  cidrBlock:
                    type: string
                  cidrBlockSet:
                    items:
                      description: Describes an IPv4 CIDR block.
                      properties:
                        cidrBlock:
                          type: string
                      type: object
                    type: array
                  ipv6CIDRBlockSet:
                    items:
                      description: Describes an IPv6 CIDR block.
                      properties:
                        ipv6CIDRBlock:
                          type: string
                      type: object
                    type: array
                  ownerID:
                    type: string
                  peeringOptions:
                    description: |-
                      We are retiring EC2-Classic on August 15, 2022. We recommend that you migrate
                      from EC2-Classic to a VPC. For more information, see Migrate from EC2-Classic
                      to a VPC (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-migrate.html)
                      in the Amazon Elastic Compute Cloud User Guide.


                      Describes the VPC peering connection options.
                    properties:
                      allowDNSResolutionFromRemoteVPC:
                        type: boolean
                      allowEgressFromLocalClassicLinkToRemoteVPC:
                        type: boolean
                      allowEgressFromLocalVPCToRemoteClassicLink:
                        type: boolean
                    type: object
                  region:
                    type: string
                  vpcID:
                    type: string
                type: object
              status:
                description: The status of the VPC peering connection.
                properties:
                  code:
                    type: string
                  message:
                    type: string
                type: object
              vpcPeeringConnectionID:
                description: The ID of the VPC peering connection.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
