apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: vm/serving-cert
    controller-gen.kubebuilder.io/version: v0.20.0
  creationTimestamp: null
  name: vmrules.operator.victoriametrics.com
spec:
  group: operator.victoriametrics.com
  names:
    kind: VMRule
    listKind: VMRuleList
    plural: vmrules
    singular: vmrule
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.updateStatus
      name: Status
      type: string
    - jsonPath: .status.reason
      name: Sync Error
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              groups:
                items:
                  properties:
                    concurrency:
                      type: integer
                    eval_alignment:
                      type: boolean
                    eval_delay:
                      type: string
                    eval_offset:
                      type: string
                    headers:
                      items:
                        type: string
                      type: array
                    interval:
                      type: string
                    labels:
                      additionalProperties:
                        type: string
                      type: object
                    limit:
                      type: integer
                    name:
                      type: string
                    notifier_headers:
                      items:
                        type: string
                      type: array
                    params:
                      additionalProperties:
                        items:
                          type: string
                        type: array
                      type: object
                    rules:
                      items:
                        properties:
                          alert:
                            type: string
                          annotations:
                            additionalProperties:
                              type: string
                            type: object
                          debug:
                            type: boolean
                          expr:
                            type: string
                          for:
                            type: string
                          keep_firing_for:
                            type: string
                          labels:
                            additionalProperties:
                              type: string
                            type: object
                          record:
                            type: string
                          update_entries_limit:
                            type: integer
                        type: object
                      type: array
                    tenant:
                      type: string
                    type:
                      type: string
                  required:
                  - name
                  - rules
                  type: object
                type: array
            required:
            - groups
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      type: string
                  required:
                  - lastTransitionTime
                  - lastUpdateTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              observedGeneration:
                format: int64
                type: integer
              reason:
                type: string
              updateStatus:
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
