apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-acmpca-reader
rules:
- apiGroups:
  - acmpca.services.k8s.aws
  resources:
  - certificateauthorities
  verbs:
  - get
  - list
  - watch
