apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "tackle.konveyor.io/v1alpha1",
          "kind": "Addon",
          "metadata": {
            "name": "move2kube-plan",
            "namespace": "konveyor-tackle"
          },
          "spec": {
            "image": "quay.io/konveyor/tackle-addon-move2kube-plan:latest"
          }
        },
        {
          "apiVersion": "tackle.konveyor.io/v1alpha1",
          "kind": "Tackle",
          "metadata": {
            "name": "tackle",
            "namespace": "konveyor-tackle"
          },
          "spec": {
            "feature_auth_required": "false"
          }
        }
      ]
    capabilities: Seamless Upgrades
    categories: Modernization & Migration
    certified: "false"
    containerImage: quay.io/konveyor/tackle2-operator@sha256:1bd2e80768ead556fcb041930c61b7848e5a65a45e0ba1a95b8adb0b1a2f5785
    createdAt: "2023-06-20T14:06:07Z"
    description: Konveyor is an open-source application modernization platform that helps organizations safely and predictably modernize applications to Kubernetes at scale.
    olm.skipRange: '>=0.0.0 <0.2.0-alpha.3'
    operatorframework.io/initialization-resource: |-
      {
        "apiVersion": "tackle.konveyor.io/v1alpha1",
        "kind": "Tackle",
        "metadata": {
          "name": "tackle",
          "namespace": "konveyor-tackle"
        },
        "spec": {
          "feature_auth_required": "false"
        }
      }
    operatorframework.io/suggested-namespace: konveyor-tackle
    operators.operatorframework.io/builder: operator-sdk-v1.28.1
    operators.operatorframework.io/project_layout: ansible.sdk.operatorframework.io/v1
    repository: https://github.com/konveyor/tackle2-operator
    support: https://github.com/konveyor/tackle2-operator/issues
  name: konveyor-operator.v0.2.0-alpha.3
  namespace: konveyor-tackle
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: Tackle Addon
        displayName: Addon
        kind: Addon
        name: addons.tackle.konveyor.io
        version: v1alpha1
      - description: Tackle
        displayName: Tackle
        kind: Tackle
        name: tackles.tackle.konveyor.io
        version: v1alpha1
  description: |
    Konveyor is an open-source application modernization platform that helps organizations safely and predictably modernize applications to new technologies, with an initial focus on accelerating the adoption of legacy applications to Kubernetes.

    See the [Konveyor Unified Experience](https://github.com/konveyor/enhancements/tree/master/enhancements/unified_experience) to understand the vision of the project and the [Konveyor Charter](https://github.com/konveyor/community/blob/main/Charter.md) for more information on the community.

    ### Install

    Once you have successfully installed the Operator, proceed to deploy components by creating the required Tackle CR.

    By default, the Operator installs the following components on a target cluster:

    * Hub, to manage the application inventory and coordinate the migration process.
    * UI, the web console to manage the application inventory and drive the migration waves.
    * Pathfinder, a service to manage the assessment questionnaires.

    Authentication capabilities may be enabled via the `feature_auth_required` parameter in the Tackle CR. When enabled, the Operator installs the following components:
    * Keycloak, to manage authentication, including with 3rd-party providers.

    ### Examples
    If you are just getting started using Konveyor, take a look at an [example application analysis here](https://github.com/konveyor/example-applications/tree/main/example-1)

    ### Documentation
    Documentation can be found on our [website](https://konveyor.github.io/tackle).

    ### Getting help
    If you encounter any issues while using Konveyor operator, you can create an issue on our [Github repo](https://github.com/konveyor/tackle2-operator/issues), for bugs, enhancements or other requests.
    Or reach out to us in [#konveyor](https://kubernetes.slack.com/archives/CR85S82A2) on kubernetes.slack.com

    ### Contributing
    You can contribute by:

    * Raising any issues you find using Konveyor Operator
    * Fixing issues by opening [Pull Requests](https://github.com/konveyor/tackle2-operator/pulls)
    * Improving [documentation](https://github.com/konveyor/tackle-documentation)
  displayName: Konveyor Operator
  icon:
    - base64data: iVBORw0KGgoAAAANSUhEUgAAAKsAAACrCAYAAAAZ6GwZAAAACXBIWXMAAAsSAAALEgHS3X78AAALWUlEQVR4nO2dPWwcxxXHR0GgQBICMhAQwI4BXgqnsJOINnZrnly4iALwAgJGUokswgBsRFfpTtSmSiW6MA2zEdkKJnwCLBcpomN9Z+cYWy7swneAYReBYx0QxYibC+bwTh4d583H3pJ7j/f/AQuCvP2YmfefN2/ezB7PDQYDBYAEfgArASlArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjH8cBZMdbCzPq+UWjylxz1a2djtnNKzZooz/1oLCbWplLoyBcXJw9rKxu6evGIXzyyEAZuChaq5MwVlmAoQswIxQKxADBArEAPECsQwE6mrIvjks6+i71J57rK6eOH8NFZHJBBrAHff/1Ddvf9B9HWXLpxXb/3lDxBsQSAMCODhp1/muu7xt9+p7hdfn3Jpzy4QawC/feVXua7TYcALzz9zyqU9uyAMCCD99YJ6580/Tn05zzrwrEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjHMglgbSqn+FJQjL/syi1085waDwVmr0zEOdtYr+j/9TFmxgljZ2G0KKOapMBNiBWcDxKxADKX907aDnfV5pdSmUKl0VjZ2G+N/PNhZX1RK1cop0sQ0VjZ2O9NcwNLCgIOddW3s5VIeXgy/MwVLcbE29pzQ+uhJ6OLKxm53CspipcwwYL7EZxfB4tg9KoKFqqjsUz0JRcwKxACxAjFArEAMECsQQ2mpqyJo/bOn3vv7R1F3unTxR+q1ay+rys8uT2Wd7r7/oXr46ZdR17z4i2fVa795+cTKNC2IFeu//v0f9de3/5br2u4XX6ud7PeFl2lS7j/4WN29/0H0XR5+9pW6dOG8unb1l9NWpUIRGwZo4+gjDxdzXgfKRaxn1YL7859eVe89+Fg9/u//gq/76eUfq2uvTKcH0p7x8bffRYcBP3/u8pn3qkp6zPrC888Mj7PEMPacgfgzD8gGADFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxACxAjFArEAMZYp1CTIBMcCzAjFArEAMECsQA8QKxACxAjFArEAMECsQA8QKxFCmWPuQCYihTLFWBQv2SCm1bf5hZWO3qZTaL69IE7NPdZhazg0GA7nNC2YKxKxADBArEAPECsQAsQIxQKxADBArEAPECsRw6v8VO0mzeaXUolKqQkdHKfWo3apPdUJ6lkjSTNtn3qiytk+n7CY4lUUBEugqHVccp95TSjXarfreiRcKPEWSZjWyj15ZnHPYZ6/dqjfKaL0nYk3SbMt2QrtVt/49SbPNsd5nst1u1R8Z5205GsCGXs7c5LxtkmZValSTjqsRkzSrkDHG6erOkaTZKnl66+eO+9rKMkS3nevzAJrUxtrT2XjSzpZy1bjrTJtS+bY9TmScnm7LSPtwdHU9261613eiGQbcZM45JtYkzXTlbjDn39INSN5UG3k5sNAmuuEeJGn2ertV37Z8XrWVN0mzlxzDVYWp4yGVc5GpU58+59Aiv2757IjazlrWCJqO67u2shltb3MQh8Z5WznLtkD2ucU4s+g6J2mmy1XjOp/KM8EiD8QJdZ+8yTw1ch6hmtymjhFKk56dB06QcxTDcdSYv8eUm4W81xOBjbHpKBM3kg1HlyTN9ibsRJqbdJ8i0K/md8krW4kSKxmNM8KR0Xh7kcOKixvUQUKYo04SDXnkI+Y66/OpPThRFBnXWUMx3cZMR+JErJ1Jl0Iz22iQh+tcCJmDOfLYtnAsXKzksRqMcfojF07C8nnUHgXrb5DX8G0V3OYqYOFKpDc24bwE19u5TnTPNZzFEuNdyTNxjmKLxH07oAiHxuHjpmf0icVqhxjP2qBYxUaNeuy8Z/jTnutqu1WvtFt1fY2eRFXbrbq+7nWHaOcc3sVGjDc24cR6heksnIhPIpvB1f/6WOjD1XufJjEu+/TJDj8huwwP/btSas3jVAoJe4glWzgQlGclT8V93c+aMSt0xUr7NMO3ehw9kUrSrEnDuO0ew+EmZNZI6Pt1YvKDNDLcY0aGqilCEq/Ng/UDUzvc5IQrW5MmITY7rBqjDze8j7wqZ8cjmuEfay+ymc6YNMg+tnoPBebJlx+S+IeQILnRujoe0nk9a8CEyvQiXK/uuYQ6ghrKlfLgJjM2dAM0cky4OK84/myuLCeZg+TEPQoFfF6V+7zPCdWE7FdzeNio0YyEzbXXsbAixLOyE6p2qz5eOK7XeoU6QjdYkmb7jIeoRQ43CyS+YJFrr5ikWd/S28e9LdepQstX9UxM9sZHEYd3XSAvZZtY9Q2Rs2UOHYEo3NtmMgl58smcLo45mRCxchOqpwrmSDmEDosme4xY8wTxyySKmCxBw/Z8nWg36mILFXoRYceS55sUm5RHHUfX5QFTZputtg3RcxOv2BibS3txcxorNOpxjuSYiPNuZOlEzHaj15QdcU/MKpjJzcgQgvOOw3vQ6lDMdYVBbXPPcj/OqWyr72NsKxHzgCF0fs/2mStPqp2NnpeMDuqMnMCPaSCvWJcoVycJLu4+BnlHmzFGhigjXjUJbXtzOZYTK5db9hElcGLOGFGWHM7Humo4yRbB24G5tegVpYic6jiHEzT+ODYvuUB1tnmPw1gPlRd6ju+1775ZB8dolXfxhrN9Efll656HSfezmurnDMXlKF1wQ0mIEIv6PgLOS24yQ1ds3Kc71i3H4RO+L+3FbnIZxzN0285nV+4K2Eq4z6X0QvezcrnH4WoRJfe7zCxakYFjwgbOEN6GoFypbvx/RDzPdp8uM/O2Tfz6OUKAZkyelSkflzXpMyMDl6fdjJyAcrYsYlRjdRLiWXXSv+ZY7rth9EzOYDdCey+lRbigO0gQ1LvXQs71EOotG0Uur0bAeV9uAsy133Loih9NLrmFB599ejSSuEIYVqxez2ok/VfJs9k8556xyYWtiG4Qz55T19bDXkwKjPaoVifcsNGgOvmyEHkmVpWQDlzwGxQNx76AO0maKc/e3VVPxsPXubuj0YTqbnNKw51ctvg/OGali7lha4GS2B0mraLI4O9S2mJ1FMfqQuvMQpJmXc+MPXrIpEWL3EMTeSevt8i5c/465Ut9R2GQDd9w3O8O2ac2WvnTP+l33WnuuJbTIyeYLk9u7RBREyzaCM2FA8s0RGx6JjhLVOnPkzQbkKFuexLKhxO86jLphMv33FJe8ZiALS5HSmj7vKuU+obs8w397lrA6EfOSXw7yZZto06ebIBrbdgMGYqiH5nQfwryjrkFS43qMu5JLgS4npuLgPX9PDh3+Dtw6WTyPCsVinvInPFCWRETnOGy7qSTFwpPJlnE4Lzn0QnnVk/k3kZ7FCHYtbxxtScsWRhfeMqVZyUxcrHpEm3l0z3j6gTeQQ8RlaJeAabyuOI1F5z3FPsWLrVHdQL76OteKuBN5C1Hp9kyd82d+KvY9LBRnjVkbV83wtYsvo5dxvv6OewzyuG63qytMMu71vpY6m3yJA13al8mbOywqVJFRgF7j4a7DuUr8WUXJWDYZ/QKtznh7Y3sU2JOGd98DeSA77oCYoBYgRggViAGiBWIAWIFYoBYgRggViAGiBWIAWIFYoBYgRggViAGiBWIAWIFYoBYgRggViAGiBWIAWIFMlBK/R87h9mrJ0MSUgAAAABJRU5ErkJggg==
      mediatype: image/png
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - operator.openshift.io
              resources:
                - dnses
              verbs:
                - list
                - get
            - apiGroups:
                - config.openshift.io
              resources:
                - clusterversions
                - proxies
              verbs:
                - get
            - apiGroups:
                - keycloak.org
              resources:
                - keycloaks
                - keycloakrealms
                - keycloakclients
                - keycloakusers
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
          serviceAccountName: tackle-operator
      deployments:
        - name: tackle-operator
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: tackle
                name: tackle-operator
            strategy: {}
            template:
              metadata:
                labels:
                  app: tackle
                  name: tackle-operator
                  role: tackle-operator
              spec:
                containers:
                  - args:
                      - --health-probe-bind-address=:6789
                      - --metrics-bind-address=127.0.0.1:8080
                      - --leader-elect
                      - --leader-election-id=tackle-operator
                    env:
                      - name: WATCH_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.annotations['olm.targetNamespaces']
                      - name: ANSIBLE_GATHERING
                        value: explicit
                      - name: APP_NAME
                        value: tackle
                      - name: PROFILE
                        value: konveyor
                      - name: VERSION
                        value: 0.2.0-alpha.3
                      - name: RELATED_IMAGE_OAUTH_PROXY
                        value: quay.io/konveyor/oauth-proxy@sha256:6bc1759a3202b4614739f12441461e344907f6b3f758c34314284debe36d4e15
                      - name: RELATED_IMAGE_TACKLE_HUB
                        value: quay.io/konveyor/tackle2-hub@sha256:471e25c8e104f12eb89bbd8b12d20e4ef6e2c5e0abab06f2cd723a5f7944447e
                      - name: RELATED_IMAGE_TACKLE_POSTGRES
                        value: quay.io/konveyor/postgresql-12-centos7@sha256:0b31d22f50183f08e53f1d99c8e825dea79ce8f3b163932c9ad4b6290236f9a2
                      - name: RELATED_IMAGE_PATHFINDER
                        value: quay.io/konveyor/tackle-pathfinder@sha256:18cab68d8742ca85df7e5b216c646bb1881ebeba5025b2668a07eda999ee04f9
                      - name: RELATED_IMAGE_KEYCLOAK_SSO
                        value: quay.io/konveyor/keycloak@sha256:9342435929d8ed447864694383a7fb50d91f0f4913b5f85f4a43ba8bc36f9b82
                      - name: RELATED_IMAGE_KEYCLOAK_INIT
                        value: quay.io/konveyor/tackle-keycloak-init@sha256:578ff8bb4ad8263f4c7a2c27c40716e734103f5e88e22cb0f7d81f6d75228ea1
                      - name: RELATED_IMAGE_TACKLE_UI
                        value: quay.io/konveyor/tackle2-ui@sha256:c294f02d50c06cc455adaf5e1c8348fad83327a6b50ca7d27b4280d287213035
                      - name: RELATED_IMAGE_ADDON_ADMIN
                        value: quay.io/konveyor/tackle2-addon@sha256:31d5a9e3ba9880b0e47dbf23391d0744d4727912129d11b8c71a71b568e5d178
                      - name: RELATED_IMAGE_ADDON_WINDUP
                        value: quay.io/konveyor/tackle2-addon-windup@sha256:54a223f2acdf4313659425598903723f08d69a4bff157f9c25c0507bbc1d698c
                    image: quay.io/konveyor/tackle2-operator@sha256:1bd2e80768ead556fcb041930c61b7848e5a65a45e0ba1a95b8adb0b1a2f5785
                    imagePullPolicy: Always
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 6789
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: tackle-operator
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 6789
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 768Mi
                      requests:
                        cpu: 10m
                        memory: 256Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: tackle-operator
      permissions:
        - rules:
            - apiGroups:
                - ""
                - tackle.konveyor.io
                - batch
              resources:
                - '*'
              verbs:
                - '*'
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - anyuid
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: tackle-hub
        - rules:
            - apiGroups:
                - ""
              resources:
                - pods
                - services
                - services/finalizers
                - endpoints
                - persistentvolumeclaims
                - events
                - configmaps
                - secrets
                - serviceaccounts
              verbs:
                - '*'
            - apiGroups:
                - route.openshift.io
              resources:
                - routes
              verbs:
                - '*'
            - apiGroups:
                - networking.k8s.io
              resources:
                - ingresses
                - networkpolicies
              verbs:
                - '*'
            - apiGroups:
                - apps
              resources:
                - deployments
                - daemonsets
                - replicasets
                - statefulsets
              verbs:
                - '*'
            - apiGroups:
                - monitoring.coreos.com
              resources:
                - servicemonitors
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - apps.openshift.io
              resources:
                - deploymentconfigs
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - apps
              resourceNames:
                - tackle-operator
              resources:
                - deployments/finalizers
              verbs:
                - update
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - tackle.konveyor.io
              resources:
                - tackles
                - tackles/status
                - tackles/finalizers
                - addons
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
          serviceAccountName: tackle-operator
    strategy: deployment
  installModes:
    - supported: true
      type: OwnNamespace
    - supported: true
      type: SingleNamespace
    - supported: true
      type: MultiNamespace
    - supported: false
      type: AllNamespaces
  keywords:
    - modernization
    - migration
    - konveyor
    - tackle
  links:
    - name: Documentation
      url: https://konveyor.github.io/tackle
    - name: Operator
      url: https://github.com/konveyor/tackle2-operator
  maintainers:
    - email: konveyor-dev@googlegroups.com
      name: Konveyor Community
  maturity: alpha
  minKubeVersion: 1.22.0
  provider:
    name: Konveyor
    url: https://www.konveyor.io
  relatedImages:
    - image: quay.io/konveyor/oauth-proxy@sha256:6bc1759a3202b4614739f12441461e344907f6b3f758c34314284debe36d4e15
      name: oauth-proxy
    - image: quay.io/konveyor/tackle2-hub@sha256:471e25c8e104f12eb89bbd8b12d20e4ef6e2c5e0abab06f2cd723a5f7944447e
      name: tackle-hub
    - image: quay.io/konveyor/postgresql-12-centos7@sha256:0b31d22f50183f08e53f1d99c8e825dea79ce8f3b163932c9ad4b6290236f9a2
      name: tackle-postgres
    - image: quay.io/konveyor/tackle-pathfinder@sha256:18cab68d8742ca85df7e5b216c646bb1881ebeba5025b2668a07eda999ee04f9
      name: pathfinder
    - image: quay.io/konveyor/keycloak@sha256:9342435929d8ed447864694383a7fb50d91f0f4913b5f85f4a43ba8bc36f9b82
      name: keycloak-sso
    - image: quay.io/konveyor/tackle-keycloak-init@sha256:578ff8bb4ad8263f4c7a2c27c40716e734103f5e88e22cb0f7d81f6d75228ea1
      name: keycloak-init
    - image: quay.io/konveyor/tackle2-ui@sha256:c294f02d50c06cc455adaf5e1c8348fad83327a6b50ca7d27b4280d287213035
      name: tackle-ui
    - image: quay.io/konveyor/tackle2-addon@sha256:31d5a9e3ba9880b0e47dbf23391d0744d4727912129d11b8c71a71b568e5d178
      name: addon-admin
    - image: quay.io/konveyor/tackle2-addon-windup@sha256:54a223f2acdf4313659425598903723f08d69a4bff157f9c25c0507bbc1d698c
      name: addon-windup
  version: 0.2.0-alpha.3
