apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: machinedeletionremediationtemplates.machine-deletion-remediation.medik8s.io
spec:
  group: machine-deletion-remediation.medik8s.io
  names:
    kind: MachineDeletionRemediationTemplate
    listKind: MachineDeletionRemediationTemplateList
    plural: machinedeletionremediationtemplates
    shortNames:
    - mdrt
    singular: machinedeletionremediationtemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MachineDeletionRemediationTemplate is the Schema for the machinedeletionremediationtemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MachineDeletionRemediationTemplateSpec defines the desired
              state of MachineDeletionRemediationTemplate
            properties:
              template:
                description: MachineDeletionRemediationTemplateResource is part of
                  the desired state of MachineDeletionRemediationTemplate
                properties:
                  spec:
                    description: MachineDeletionRemediationSpec defines the desired
                      state of MachineDeletionRemediation
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
          status:
            description: MachineDeletionRemediationTemplateStatus defines the observed
              state of MachineDeletionRemediationTemplate
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
