apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: maps.hazelcast.com
spec:
  group: hazelcast.com
  names:
    kind: Map
    listKind: MapList
    plural: maps
    singular: map
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Current state of the Map Config
      jsonPath: .status.state
      name: Status
      type: string
    - description: Message for the current Map Config
      jsonPath: .status.message
      name: Message
      priority: 1
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Map is the Schema for the maps API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MapSpec defines the desired state of Hazelcast Map Config
            properties:
              backupCount:
                default: 1
                description: Count of synchronous backups. It cannot be updated after
                  map config is created successfully.
                format: int32
                type: integer
              eviction:
                default:
                  maxSize: 0
                description: Configuration for removing data from the map when it
                  reaches its max size. It can be updated.
                properties:
                  evictionPolicy:
                    default: NONE
                    description: Eviction policy to be applied when map reaches its
                      max size according to the max size policy.
                    enum:
                    - NONE
                    - LRU
                    - LFU
                    - RANDOM
                    type: string
                  maxSize:
                    default: 0
                    description: Max size of the map.
                    format: int32
                    type: integer
                  maxSizePolicy:
                    default: PER_NODE
                    description: Policy for deciding if the maxSize is reached.
                    enum:
                    - PER_NODE
                    - PER_PARTITION
                    - USED_HEAP_SIZE
                    - USED_HEAP_PERCENTAGE
                    - FREE_HEAP_SIZE
                    - FREE_HEAP_PERCENTAGE
                    - USED_NATIVE_MEMORY_SIZE
                    - USED_NATIVE_MEMORY_PERCENTAGE
                    - FREE_NATIVE_MEMORY_SIZE
                    - FREE_NATIVE_MEMORY_PERCENTAGE
                    type: string
                type: object
              hazelcastResourceName:
                description: HazelcastResourceName defines the name of the Hazelcast
                  resource. It cannot be updated after map config is created successfully.
                minLength: 1
                type: string
              indexes:
                description: Indexes to be created for the map data. You can learn
                  more at https://docs.hazelcast.com/hazelcast/latest/query/indexing-maps.
                  It cannot be updated after map config is created successfully.
                items:
                  properties:
                    attributes:
                      description: Attributes of the index.
                      items:
                        type: string
                      type: array
                    bitMapIndexOptions:
                      description: Options for "BITMAP" index type.
                      properties:
                        uniqueKey:
                          type: string
                        uniqueKeyTransition:
                          enum:
                          - OBJECT
                          - LONG
                          - RAW
                          type: string
                      required:
                      - uniqueKey
                      - uniqueKeyTransition
                      type: object
                    name:
                      description: Name of the index config.
                      type: string
                    type:
                      description: Type of the index.
                      enum:
                      - SORTED
                      - HASH
                      - BITMAP
                      type: string
                  required:
                  - attributes
                  - type
                  type: object
                type: array
              maxIdleSeconds:
                default: 0
                description: Maximum time in seconds for each entry to stay idle in
                  the map. Entries that are idle for more than this time are evicted
                  automatically. It can be updated.
                format: int32
                type: integer
              name:
                description: Name of the map config to be created. If empty, CR name
                  will be used. It cannot be updated after map config is created successfully.
                type: string
              persistenceEnabled:
                default: false
                description: When enabled, map data will be persisted. It cannot be
                  updated after map config is created successfully.
                type: boolean
              timeToLiveSeconds:
                default: 0
                description: Maximum time in seconds for each entry to stay in the
                  map. If it is not 0, entries that are older than this time and not
                  updated for this time are evicted automatically. It can be updated.
                format: int32
                type: integer
            required:
            - hazelcastResourceName
            type: object
          status:
            description: MapStatus defines the observed state of Map
            properties:
              memberStatuses:
                additionalProperties:
                  type: string
                type: object
              message:
                type: string
              state:
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
