apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: functions.cloudfront.services.k8s.aws
spec:
  group: cloudfront.services.k8s.aws
  names:
    kind: Function
    listKind: FunctionList
    plural: functions
    singular: function
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Function is the Schema for the Functions API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FunctionSpec defines the desired state of Function.
            properties:
              functionCode:
                description: The function code. For more information about writing
                  a CloudFront function, see Writing function code for CloudFront
                  Functions (https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/writing-function-code.html)
                  in the Amazon CloudFront Developer Guide.
                format: byte
                type: string
              functionConfig:
                description: Configuration information about the function, including
                  an optional comment and the function's runtime.
                properties:
                  comment:
                    type: string
                  runtime:
                    type: string
                type: object
              name:
                description: A name to identify the function.
                type: string
            required:
            - functionCode
            - functionConfig
            - name
            type: object
          status:
            description: FunctionStatus defines the observed state of Function
            properties:
              ackResourceMetadata:
                description: All CRs managed by ACK have a common `Status.ACKResourceMetadata`
                  member that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: 'ARN is the Amazon Resource Name for the resource.
                      This is a globally-unique identifier and is set only by the
                      ACK service controller once the controller has orchestrated
                      the creation of the resource OR when it has verified that an
                      "adopted" resource (a resource where the ARN annotation was
                      set by the Kubernetes user on the CR) exists and matches the
                      supplied CR''s Spec field values. TODO(vijat@): Find a better
                      strategy for resources that do not have ARN in CreateOutputResponse
                      https://github.com/aws/aws-controllers-k8s/issues/270'
                    type: string
                  ownerAccountID:
                    description: OwnerAccountID is the AWS Account ID of the account
                      that owns the backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: All CRS managed by ACK have a common `Status.Conditions`
                  member that contains a collection of `ackv1alpha1.Condition` objects
                  that describe the various terminal states of the CR and its backend
                  AWS service API resource
                items:
                  description: Condition is the common struct used by all CRDs managed
                    by ACK service controllers to indicate terminal states  of the
                    CR and its backend AWS service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              eTag:
                description: The version identifier for the current version of the
                  CloudFront function.
                type: string
              functionSummary:
                description: Contains configuration information and metadata about
                  a CloudFront function.
                properties:
                  functionConfig:
                    description: Contains configuration information about a CloudFront
                      function.
                    properties:
                      comment:
                        type: string
                      runtime:
                        type: string
                    type: object
                  functionMetadata:
                    description: Contains metadata about a CloudFront function.
                    properties:
                      createdTime:
                        format: date-time
                        type: string
                      functionARN:
                        type: string
                      lastModifiedTime:
                        format: date-time
                        type: string
                      stage:
                        type: string
                    type: object
                  name:
                    type: string
                  status:
                    type: string
                type: object
              location:
                description: The URL of the CloudFront function. Use the URL to manage
                  the function with the CloudFront API.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
