apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-ec2-writer
rules:
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations
  - dhcpoptions
  - elasticipaddresses
  - flowlogs
  - instances
  - internetgateways
  - launchtemplates
  - natgateways
  - networkacls
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - transitgatewayvpcattachments
  - vpcs
  - vpcendpoints
  - vpcendpointserviceconfigurations
  - vpcpeeringconnections
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations
  - dhcpoptions
  - elasticipaddresses
  - flowlogs
  - instances
  - internetgateways
  - launchtemplates
  - natgateways
  - networkacls
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - transitgatewayvpcattachments
  - vpcs
  - vpcendpoints
  - vpcendpointserviceconfigurations
  - vpcpeeringconnections
  verbs:
  - get
  - patch
  - update
