apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: cluster-aas-operator-webhook-service
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: caas-controller-manager
status:
  loadBalancer: {}
