apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  creationTimestamp: null
  name: keyspaces.keyspaces.services.k8s.aws
spec:
  group: keyspaces.services.k8s.aws
  names:
    kind: Keyspace
    listKind: KeyspaceList
    plural: keyspaces
    singular: keyspace
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Keyspace is the Schema for the Keyspaces API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KeyspaceSpec defines the desired state of Keyspace.
            properties:
              keyspaceName:
                description: The name of the keyspace to be created.
                type: string
              replicationSpecification:
                description: |-
                  The replication specification of the keyspace includes:

                     * replicationStrategy - the required value is SINGLE_REGION or MULTI_REGION.

                     * regionList - if the replicationStrategy is MULTI_REGION, the regionList
                     requires the current Region and at least one additional Amazon Web Services
                     Region where the keyspace is going to be replicated in. The maximum number
                     of supported replication Regions including the current Region is six.
                properties:
                  regionList:
                    items:
                      type: string
                    type: array
                  replicationStrategy:
                    type: string
                type: object
              tags:
                description: |-
                  A list of key-value pair tags to be attached to the keyspace.

                  For more information, see Adding tags and labels to Amazon Keyspaces resources
                  (https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html)
                  in the Amazon Keyspaces Developer Guide.
                items:
                  description: |-
                    Describes a tag. A tag is a key-value pair. You can add up to 50 tags to
                    a single Amazon Keyspaces resource.

                    Amazon Web Services-assigned tag names and values are automatically assigned
                    the aws: prefix, which the user cannot assign. Amazon Web Services-assigned
                    tag names do not count towards the tag limit of 50. User-assigned tag names
                    have the prefix user: in the Cost Allocation Report. You cannot backdate
                    the application of a tag.

                    For more information, see Adding tags and labels to Amazon Keyspaces resources
                    (https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html)
                    in the Amazon Keyspaces Developer Guide.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
            required:
            - keyspaceName
            type: object
          status:
            description: KeyspaceStatus defines the observed state of Keyspace
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRS managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              resourceARN:
                description: |-
                  The unique identifier of the keyspace in the format of an Amazon Resource
                  Name (ARN).
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
