apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: vm/serving-cert
    controller-gen.kubebuilder.io/version: v0.20.0
  creationTimestamp: null
  name: vmusers.operator.victoriametrics.com
spec:
  group: operator.victoriametrics.com
  names:
    kind: VMUser
    listKind: VMUserList
    plural: vmusers
    singular: vmuser
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.updateStatus
      name: Status
      type: string
    - jsonPath: .status.reason
      name: Sync Error
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              bearerToken:
                type: string
              default_url:
                items:
                  type: string
                type: array
              disable_secret_creation:
                type: boolean
              discover_backend_ips:
                type: boolean
              drop_src_path_prefix_parts:
                type: integer
              dump_request_on_errors:
                type: boolean
              generatePassword:
                type: boolean
              headers:
                items:
                  type: string
                type: array
              ip_filters:
                properties:
                  allow_list:
                    items:
                      type: string
                    type: array
                  deny_list:
                    items:
                      type: string
                    type: array
                type: object
              load_balancing_policy:
                enum:
                - least_loaded
                - first_available
                type: string
              managedMetadata:
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    type: object
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                type: object
              max_concurrent_requests:
                type: integer
              metric_labels:
                additionalProperties:
                  type: string
                type: object
              name:
                type: string
              password:
                type: string
              passwordRef:
                properties:
                  key:
                    type: string
                  name:
                    default: ""
                    type: string
                  optional:
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              response_headers:
                items:
                  type: string
                type: array
              retry_status_codes:
                items:
                  type: integer
                type: array
              targetRefs:
                items:
                  properties:
                    crd:
                      properties:
                        kind:
                          enum:
                          - VMAgent
                          - VMAlert
                          - VMSingle
                          - VLogs
                          - VMAlertManager
                          - VMAlertmanager
                          - VMCluster/vmselect
                          - VMCluster/vmstorage
                          - VMCluster/vminsert
                          - VLSingle
                          - VLCluster/vlinsert
                          - VLCluster/vlselect
                          - VLCluster/vlstorage
                          - VLAgent
                          - VTCluster/vtinsert
                          - VTCluster/vtselect
                          - VTCluster/vtstorage
                          - VTSingle
                          type: string
                        name:
                          type: string
                        namespace:
                          type: string
                      required:
                      - kind
                      - name
                      - namespace
                      type: object
                    discover_backend_ips:
                      type: boolean
                    drop_src_path_prefix_parts:
                      type: integer
                    headers:
                      items:
                        type: string
                      type: array
                    hosts:
                      items:
                        type: string
                      type: array
                    load_balancing_policy:
                      enum:
                      - least_loaded
                      - first_available
                      type: string
                    paths:
                      items:
                        type: string
                      type: array
                    query_args:
                      items:
                        properties:
                          name:
                            type: string
                          values:
                            items:
                              type: string
                            type: array
                        required:
                        - name
                        - values
                        type: object
                      type: array
                    response_headers:
                      items:
                        type: string
                      type: array
                    retry_status_codes:
                      items:
                        type: integer
                      type: array
                    src_headers:
                      items:
                        type: string
                      type: array
                    src_query_args:
                      items:
                        type: string
                      type: array
                    static:
                      properties:
                        url:
                          type: string
                        urls:
                          items:
                            type: string
                          type: array
                      type: object
                    target_path_suffix:
                      type: string
                    targetRefBasicAuth:
                      properties:
                        password:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                        username:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                      required:
                      - password
                      - username
                      type: object
                  type: object
                type: array
              tlsConfig:
                properties:
                  ca:
                    properties:
                      configMap:
                        properties:
                          key:
                            type: string
                          name:
                            default: ""
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                        x-kubernetes-map-type: atomic
                      secret:
                        properties:
                          key:
                            type: string
                          name:
                            default: ""
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                        x-kubernetes-map-type: atomic
                    type: object
                  caFile:
                    type: string
                  cert:
                    properties:
                      configMap:
                        properties:
                          key:
                            type: string
                          name:
                            default: ""
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                        x-kubernetes-map-type: atomic
                      secret:
                        properties:
                          key:
                            type: string
                          name:
                            default: ""
                            type: string
                          optional:
                            type: boolean
                        required:
                        - key
                        type: object
                        x-kubernetes-map-type: atomic
                    type: object
                  certFile:
                    type: string
                  insecureSkipVerify:
                    type: boolean
                  keyFile:
                    type: string
                  keySecret:
                    properties:
                      key:
                        type: string
                      name:
                        default: ""
                        type: string
                      optional:
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  serverName:
                    type: string
                type: object
              tokenRef:
                properties:
                  key:
                    type: string
                  name:
                    default: ""
                    type: string
                  optional:
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              username:
                type: string
            required:
            - targetRefs
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      type: string
                  required:
                  - lastTransitionTime
                  - lastUpdateTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              observedGeneration:
                format: int64
                type: integer
              reason:
                type: string
              updateStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
