apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: vm/serving-cert
    controller-gen.kubebuilder.io/version: v0.20.0
  creationTimestamp: null
  name: vmstaticscrapes.operator.victoriametrics.com
spec:
  group: operator.victoriametrics.com
  names:
    kind: VMStaticScrape
    listKind: VMStaticScrapeList
    plural: vmstaticscrapes
    singular: vmstaticscrape
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.updateStatus
      name: Status
      type: string
    - jsonPath: .status.reason
      name: Sync Error
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              jobName:
                type: string
              sampleLimit:
                type: integer
              scrapeClass:
                type: string
              seriesLimit:
                type: integer
              targetEndpoints:
                items:
                  properties:
                    authorization:
                      properties:
                        credentials:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                        credentialsFile:
                          type: string
                        type:
                          type: string
                      type: object
                    basicAuth:
                      properties:
                        password:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                        password_file:
                          type: string
                        username:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                      type: object
                    bearerTokenFile:
                      type: string
                    bearerTokenSecret:
                      nullable: true
                      properties:
                        key:
                          type: string
                        name:
                          default: ""
                          type: string
                        optional:
                          type: boolean
                      required:
                      - key
                      type: object
                      x-kubernetes-map-type: atomic
                    follow_redirects:
                      type: boolean
                    honorLabels:
                      type: boolean
                    honorTimestamps:
                      type: boolean
                    interval:
                      type: string
                    labels:
                      additionalProperties:
                        type: string
                      type: object
                    max_scrape_size:
                      type: string
                    metricRelabelConfigs:
                      items:
                        properties:
                          action:
                            type: string
                          if:
                            x-kubernetes-preserve-unknown-fields: true
                          labels:
                            additionalProperties:
                              type: string
                            type: object
                          match:
                            type: string
                          modulus:
                            format: int64
                            type: integer
                          regex:
                            x-kubernetes-preserve-unknown-fields: true
                          replacement:
                            type: string
                          separator:
                            type: string
                          source_labels:
                            items:
                              type: string
                            type: array
                          sourceLabels:
                            items:
                              type: string
                            type: array
                          target_label:
                            type: string
                          targetLabel:
                            type: string
                        type: object
                      type: array
                    oauth2:
                      properties:
                        client_id:
                          properties:
                            configMap:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            secret:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                          type: object
                        client_secret:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                        client_secret_file:
                          type: string
                        endpoint_params:
                          additionalProperties:
                            type: string
                          type: object
                        proxy_url:
                          type: string
                        scopes:
                          items:
                            type: string
                          type: array
                        tls_config:
                          x-kubernetes-preserve-unknown-fields: true
                        token_url:
                          minLength: 1
                          type: string
                      required:
                      - client_id
                      - token_url
                      type: object
                    params:
                      additionalProperties:
                        items:
                          type: string
                        type: array
                      type: object
                    path:
                      type: string
                    proxyURL:
                      type: string
                    relabelConfigs:
                      items:
                        properties:
                          action:
                            type: string
                          if:
                            x-kubernetes-preserve-unknown-fields: true
                          labels:
                            additionalProperties:
                              type: string
                            type: object
                          match:
                            type: string
                          modulus:
                            format: int64
                            type: integer
                          regex:
                            x-kubernetes-preserve-unknown-fields: true
                          replacement:
                            type: string
                          separator:
                            type: string
                          source_labels:
                            items:
                              type: string
                            type: array
                          sourceLabels:
                            items:
                              type: string
                            type: array
                          target_label:
                            type: string
                          targetLabel:
                            type: string
                        type: object
                      type: array
                    sampleLimit:
                      type: integer
                    scheme:
                      enum:
                      - http
                      - https
                      - HTTPS
                      - HTTP
                      type: string
                    scrape_interval:
                      type: string
                    scrapeTimeout:
                      type: string
                    seriesLimit:
                      type: integer
                    targets:
                      items:
                        type: string
                      minItems: 1
                      type: array
                    tlsConfig:
                      properties:
                        ca:
                          properties:
                            configMap:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            secret:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                          type: object
                        caFile:
                          type: string
                        cert:
                          properties:
                            configMap:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            secret:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                          type: object
                        certFile:
                          type: string
                        insecureSkipVerify:
                          type: boolean
                        keyFile:
                          type: string
                        keySecret:
                          properties:
                            key:
                              type: string
                            name:
                              default: ""
                              type: string
                            optional:
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                        serverName:
                          type: string
                      type: object
                    vm_scrape_params:
                      properties:
                        disable_compression:
                          type: boolean
                        disable_keep_alive:
                          type: boolean
                        headers:
                          items:
                            type: string
                          type: array
                        no_stale_markers:
                          type: boolean
                        proxy_client_config:
                          properties:
                            basic_auth:
                              properties:
                                password:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      default: ""
                                      type: string
                                    optional:
                                      type: boolean
                                  required:
                                  - key
                                  type: object
                                  x-kubernetes-map-type: atomic
                                password_file:
                                  type: string
                                username:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      default: ""
                                      type: string
                                    optional:
                                      type: boolean
                                  required:
                                  - key
                                  type: object
                                  x-kubernetes-map-type: atomic
                              type: object
                            bearer_token:
                              properties:
                                key:
                                  type: string
                                name:
                                  default: ""
                                  type: string
                                optional:
                                  type: boolean
                              required:
                              - key
                              type: object
                              x-kubernetes-map-type: atomic
                            bearer_token_file:
                              type: string
                            tls_config:
                              x-kubernetes-preserve-unknown-fields: true
                          type: object
                        scrape_align_interval:
                          type: string
                        scrape_offset:
                          type: string
                        stream_parse:
                          type: boolean
                      type: object
                  required:
                  - targets
                  type: object
                type: array
            required:
            - targetEndpoints
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      type: string
                  required:
                  - lastTransitionTime
                  - lastUpdateTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              observedGeneration:
                format: int64
                type: integer
              reason:
                type: string
              updateStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
