apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "ibm.com/v1",
          "kind": "IBMSecurityVerifyDirectory",
          "metadata": {
            "name": "ibmsecurityverifydirectory-sample"
          },
          "spec": {
            "pods": {
              "configMap": {
                "proxy": {
                  "key": "config.yaml",
                  "name": "isvd-proxy-config"
                },
                "server": {
                  "key": "config.yaml",
                  "name": "isvd-server-config"
                }
              },
              "image": {
                "label": "latest",
                "repo": "icr.io/isvd"
              },
              "proxy": {
                "replicas": 1
              },
              "serviceAccountName": "isvd"
            },
            "replicas": {
              "pvcs": [
                "replica-1",
                "replica-2"
              ]
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Security
    certified: "false"
    containerImage: icr.io/isvd/verify-directory-operator:23.2.0
    createdAt: "2023-02-10T00:45:24Z"
    description: The IBM Security Verify Directory operator is used to scale an IBM
      Security Verify Directory Server environment.
    operators.operatorframework.io/builder: operator-sdk-v1.26.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/ibm-security/verify-directory-operator
    support: IBM
  name: ibm-security-verify-directory-operator.v23.2.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: IBMSecurityVerifyDirectory is the Schema for the ibmsecurityverifydirectories
        API
      displayName: IBMSecurity Verify Directory
      kind: IBMSecurityVerifyDirectory
      name: ibmsecurityverifydirectories.ibm.com
      resources:
      - kind: Pod
        name: ''
        version: v1
      specDescriptors:
      - description: Details of the server replicas within the environment.
        displayName: Replicas
        path: replicas
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:advanced'
      - description: The details which are used when creating the server pods.
        displayName: Pods
        path: pods
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:advanced'
      statusDescriptors:
      - description: The list of status conditions associated with the custom resource.
        displayName: Conditions
        path: conditions
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:advanced'
      version: v1
  description: "IBM Security Verify Directory is a scalable, standards-based identity
    directory that helps simplify identity and directory management. Verify Directory
    helps consolidate identity silos into a single identity source. Verify Directory
    is purpose-built to provide a directory foundation that can help provide a trusted
    identity data infrastructure that assists in enabling mission-critical security
    and authentication. It is designed to deliver a reliable, scalable, standards-based
    identity data platform that interoperates with a broad range of operating systems
    and applications. Verify Directory supports Lightweight Directory Access Protocol
    (LDAP) V3, offering a flexible and highly scalable LDAP infrastructure. \n\nThe
    operator can be used to manage deployed instances of the IBM Security Verify Directory
    server, providing an easy mechanism to scale the number of servers which are used
    to handle the workload.\n\nSee the project [Readme](https://github.com/ibm-security/verify-directory-operator/blob/master/README.md)
    for further information and details.\n\n"
  displayName: IBM Security Verify Directory
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAFBlWElmTU0AKgAAAAgAAgESAAMAAAABAAEAAIdpAAQAAAABAAAAJgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAQKADAAQAAAABAAAAQAAAAABUjGyuAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNi4wLjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgoZXuEHAAALrUlEQVR4AdVbCWwVxxme2X2HbYQxjQi0DRTaFEFSwqGm0FwURREpl+1ADAZjsDE4RCRp0iZtFLVCadSoVSNaRBvc+MAHBZ7riyt1UUIhBJE2JYDC0aoNaghpgCSYw372e293+v3rXb/1vmv3+eFHRnqe2X9m/uPbf/45dsxZGlJNS0uOFJByGRM/6BXPf6N61LaS/PyOwVaHD6bAhoa92cLd8xDj0iohxAOQPUSX38k5P8iEWsWD3n1FRXOuDpZegwKAYbhgvAyGkeFZMQzsAv0gZ6JysIC4oQA4MNyKx6ABcUMA8Pl8w3qEezbjHK7O7ovxxq+B/lfd8u8hH6qXzVkX5+wQE6LKy4PtBQUFV8yVqSinFADDcMEYXJ2T4ZlRlKTxvQ8xoKp7iOsA1Wd0hmYiBqxC8SH8solmSX4EzENQtjLVQKQEACeGw9DKrkzpYPn8+eTmfali166sLL/6AIChODFoQAwIgFQY3oeAXhhsIJICgOZxV4B9H1G9FHrfi19MV4/1xq2GW5/tA8HexqxRHfKw15NZRzgCIGy4NsbvgdIZVsXxfAXAtJNS/iz5LaurR2kfl0RAZHYp9xPY4DkbjYdF6dCNGHEYxlQ6BcIWAE4MlzgCFes5hIiNwJW6hOGW2cO896mClaUSiLgAQKinW/XmMq4+hqge940nY/j+/ftd584FvMXFszvtQuUECCakzRlSTxteRiAW/7gA1Pl2jWFCeQOdb4/CQHP1ZAw3eFVvax3t4uxFJok3Ayy4p6yg4HOjLlFuE4h/My4/WFww/8NY/FyxKoiuKCFJlri1zWVUtSO4VWcM0NXhyjI8axYTfJmHeQ/X7mipDPLgXjtA6ENsH4A4REMD0ycFZIoRw/EzkotsMB6i5VbjorUx0z6Dsms6st17npwzp8dckXQZKKCvG0FsJmd8hkd4jyQDxMa9ew/mXA3OZVz8AfxusatPXHSiMLkmu0P/SJnxkQK8OhCVAKIZQBRV+nxfimwWSSGdSDfU0BLbdnIKAAsEMOpTlTJYBzzqL2BnPQfoB0Sdr2V5bXNzwreajG6OAUiV7cSHFi6KP/spnA8sxED4I0jWIKgBAZBe4yGpBUCstAOEEx3TCoAGQsms7uKCBW8q/mGrMN0+gjjQEBUIwe4HEBWpBiLtABhvq0QD4pEDl4e6y+IA4YGnpBQIp7OAoe8Ny/UAewBR/UjO9e4ZXMhlgok5EGgOhr1AMD6dh3gphkY11hE7PbIqlBBmVgfppgPA0N0pEB7uKQ2FxD5EaMQN++mmBcAwwQxE9rXgdJmppdgYzUO9eVbQPALxg5brjmaptMaAiooKN50bGsbGywmIlYtzD+JEaA1XWT7WT7Vo/5mlD/m/I5scNbYIG/CjO3vkKNUdqKjb0ba62ucbYYchbWyWF+a9lQAIO6y0NmkFQNsLCPZdrP5+72KeVgKirrn5VjvapwqItAKgGdq7F3BhesP4Fb9jIWlnva9ljVMgujoursYGrRQ8P7UDoNEm/QAYmvTmbgAxXQi+ySkQ5eXlQUkOHQeb6/1Zxn9KKwBuxUtL3534Wd9aUkB84fYC9A0wgweeRVTPxTK3CkPgkuV99QOidntreY1vzyhLmwE9ptUDSHM9mB3G0dXjXOV5OByoBPmixSoNCHwl2iSLAMWItakCIu0AGIYaQHR3XHicqWwBPIIONqxAYOHG70aM2JgqIG66lSAFMxj+DhZJRzOzR1bj+2IpTnnyQDNPjzoQbKrMAiXwiBrhEk2ycL4XuGk8wPAEIycgigvz3vFf+WSdHY+gWQPHf2XoH+1bhcE2Ir/pPMCqYQyPWIB25mBI64jpNDxA/+LsBei7A5354UQ3odJmj5CERDHiVRj7iQUw8uiEvMx90joEulnmKK/wVNb72p7Ytq3tK2bFYpUJiKIlC/4+emT2k3GAiNU9gp5WAOjMHhcopkGrDUFJ3QUg1tkFYtasWaFUAJFWALTX0bsXgB58GobChqAsdgOIp2p9u74a8bqiEAwgsI54AtUroyymovQKk9IPQFgXKlEwmwogXsEnOUdAYB2hKKr4J4C0/Z2RBDoFQHbJUspmDjVLwoEG90GP/5EypiQjkk1xCoSum6NDwbgA4OhJgVIhk2IeJcQdnbmZ+kYUV+XmXht9a/YLOPicB2M3ocGAgNB185gEhXQbTKT+xbgAZAjZj0nF/Kkpk8kipz+LgT3RGF6+ZP7RMSNznjaAwH7gYwvXfh5R62t7hr4sW9owXbfwbRXortkQ0TBMiOvOLpe/U2GeS/T1Uk9ZkmCRgo3aAeQEBLofxZ2BEx9duF6jslAxDjgWgWYOhhoQuDY3ySWzFQCiVlFEY2lh3jkSrenGw5cwMYwukQ1UFyslXDTU7WilBQcuSBhJvFS8OP+nxtONyrFIkjuZe5KkspVRgDDEKvDQk3DzWpi/g6vKWjy/YFQi31y8OG+t6TmiGHcIUGvOxQlkJifgd9O9nQhOKSZQVC8pyD+WKQV/qHBBMeK3EHHeIkaGZndxIX7FhfI6tC001QtddxMpspgQAKHwo+hGlyKMNDmrM/hN4+FG57aBYGwSdo1fN+lzWdfdRIosJgRAydDm1lOmrqPwNfdh03PSRXz+8tLhJ95uwqFoBQJCN+Cnjf3oCvBTvbpHrzWoCQHQ7961Gx0oh7qL6puavmymJVO+xe8fxYJSTX1j24+3NjV9zQkQdJSGN4wvRPwVyI4GRLude4MJASDDFK7u7jc1CTaFKa6FyRht7qMfYt6BcfyyEpT31Ptan3UCxIqluSc+OP3ec+i/1cyXdCWdzbRYZVsAjB2R8z4X3MzQhbe1tnZ78/hYjB3TObsTb7MPiJptLWPteMS4CXfdDlnzzfJIV9LZTItVtgUAzdFCUqv6eQFjd3AmP5fiGUHCNKYBgdtpe+t9O39S59s5LhYQJJt06O3TayLpSLrq64pYdvfRbQFArc+eOv4usi34QYaeuFiKq+6r1q9fb5uP0ZXyIXLwU3z7xxzOPsQvzLd3jzIRpJfwbzQYGpFAkEySjci/lHjpiXhs0XU1aHHzhNHX3Luhqek2EZK3Q8q9Ybq4BCbrigryGrFgMRsRbhKnRIaMHT9toiSLYqzwFuNtjkFzq14qaLTTq8fCZPsHp47+9xsTJy+CsE2g9X1URae3uUtZUrRw4UdxRParsgrqVxntoWFby4OKxOvQse8EB4p8DJWfOXvqWCMMImUdJ9tACHaa/osEMudCyG2GINIBF0SKiwrz3zBodnLHANB4bGhsXY3s1xAwNCxEXMLpzs/xXyBVA7khbhOIsNje0jU434+KHs17zakXOh67JMDLglsoYkO2P6wJH4G6X2Z2qhsHMjuQB61cuuAkprfnJYnNQWT4BWT8Bz+85KgJOvCXSSenxhM3xx5gqFBTsz9Dzrr6NPR6HjSTJ2iKnoGnvKpKnsaSgrnWk1uDha2cFlyIO7TBKcfPunvFVh1TZ1f2BrplZouhpVHSABAfOtbuFt4ViOTrzTFBlxEC7ThWjX9SmPhzINP1L7tDg6Y3jz80Xmb8YQTGR2HkJPB063y1jMY87gStz+A9tVgmB8x1TsoDAoAE0ZgdN3HqTDB6Ed5wD0jWYUWuexGB6zi84m/Yor0vKewcl1mHyiRtCElMzRQKy1FlNho7u2/Blb+DeDIZ/ehzmFVHBFl+GEx/dvb0ewdoyKBN0snKPGlGdJyNi+mPwRtKwcR8iGHlSQcfXdpPsB6tkmtX22iLTT+rm2tN9D/n8darXSrbXFiYaz01MrezXU4ZACSRDjG6mHuKLDiusuGbf+9UOVAZ5EFwd9aGc4HqLBY8RjtDkpeKNFDlouqg/SvMhcsTmCRht4Z/YhCClrd009PuiS0MFJ9j0XMSfdqZqu4ePXL4GbvL26hKxSDeEADMsrZu3T1ccQfu5EKagXH9bRg1AcbREBmGnxHYgihfAUjnAdYZxIt3BVePyEHPyWXL5l0280t1+f+5FIAxQDyRDAAAAABJRU5ErkJggg==
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - batch
          resources:
          - jobs
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - pods/exec
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ibm.com
          resources:
          - ibmsecurityverifydirectories
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ibm.com
          resources:
          - ibmsecurityverifydirectories/finalizers
          verbs:
          - update
        - apiGroups:
          - ibm.com
          resources:
          - ibmsecurityverifydirectories/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: verify-directory-operator-controller-manager
      deployments:
      - label:
          app: ibm-security-verify-directory-operator
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: verify-directory-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: verify-directory
          control-plane: controller-manager
        name: verify-directory-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: ibm-security-verify-directory-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                app: ibm-security-verify-directory-operator
                control-plane: controller-manager
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                        - arm64
                        - ppc64le
                        - s390x
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: icr.io/isvd/verify-directory-operator:23.2.0
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
                volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
              securityContext:
                runAsNonRoot: true
              serviceAccountName: verify-directory-operator-controller-manager
              terminationGracePeriodSeconds: 10
              volumes:
              - name: cert
                secret:
                  defaultMode: 420
                  secretName: webhook-server-cert
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: verify-directory-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - IBM
  - Security
  - Identity and Access
  links:
  - name: IBM Security Verify Directory Documentation
    url: https://www.ibm.com/docs/en/svd
  maintainers:
  - email: iamdev@us.ibm.com
    name: IBM Security Verify Directory Development Team
  maturity: stable
  provider:
    name: IBM
    url: https://www.ibm.com
  version: 23.2.0
  webhookdefinitions:
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: verify-directory-operator-controller-manager
    failurePolicy: Fail
    generateName: mibmsecurityverifydirectory.kb.io
    rules:
    - apiGroups:
      - ibm.com
      apiVersions:
      - v1
      operations:
      - CREATE
      - UPDATE
      - DELETE
      resources:
      - ibmsecurityverifydirectories
    sideEffects: None
    targetPort: 9443
    type: MutatingAdmissionWebhook
    webhookPath: /mutate-ibm-com-v1-ibmsecurityverifydirectory
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: verify-directory-operator-controller-manager
    failurePolicy: Fail
    generateName: vibmsecurityverifydirectory.kb.io
    rules:
    - apiGroups:
      - ibm.com
      apiVersions:
      - v1
      operations:
      - CREATE
      - UPDATE
      - DELETE
      resources:
      - ibmsecurityverifydirectories
    sideEffects: None
    targetPort: 9443
    type: ValidatingAdmissionWebhook
    webhookPath: /validate-ibm-com-v1-ibmsecurityverifydirectory
