apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: shipwright-operator
  name: shipwright-operator-metrics-service
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    app: shipwright-operator
status:
  loadBalancer: {}
