aggregationRule:
  clusterRoleSelectors:
  - matchExpressions:
    - key: app.kubernetes.io/name
      operator: In
      values:
      - knative-serving
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/name: knative-operator
    app.kubernetes.io/version: v1.19.0
  name: knative-serving-operator-aggregated-stable
rules: []
