apiVersion: v1
kind: ServiceAccount
metadata:
  name: ravendb-ops-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ravendb-ops
rules:
- apiGroups:
  - ravendb.ravendb.io
  resources:
  - ravendbclusters
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ravendb-ops-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ravendb-ops
subjects:
- kind: ServiceAccount
  name: ravendb-ops-sa
  namespace: ravendb-operator-system
