apiVersion: v1
automountServiceAccountToken: false
kind: ServiceAccount
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: kspm
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: 1.4.2
  name: dynatrace-node-config-collector
