apiVersion: v1
kind: ServiceAccount
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: validation-runner
    app.kubernetes.io/name: jupyter-notebook-validator-operator
  name: notebook-validator-jupyter-notebook-validator-runner
