apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-route53-reader
rules:
- apiGroups:
  - route53.services.k8s.aws
  resources:
  - hostedzones
  - recordsets
  verbs:
  - get
  - list
  - watch
