apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-route53-writer
rules:
- apiGroups:
  - route53.services.k8s.aws
  resources:
  - hostedzones
  - recordsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - route53.services.k8s.aws
  resources:
  - hostedzones
  - recordsets
  verbs:
  - get
  - patch
  - update
