apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  creationTimestamp: null
  name: resourcedatasyncs.ssm.services.k8s.aws
spec:
  group: ssm.services.k8s.aws
  names:
    kind: ResourceDataSync
    listKind: ResourceDataSyncList
    plural: resourcedatasyncs
    singular: resourcedatasync
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourceDataSync is the Schema for the ResourceDataSyncs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ResourceDataSyncSpec defines the desired state of ResourceDataSync.
            properties:
              s3Destination:
                description: |-
                  Amazon S3 configuration details for the sync. This parameter is required
                  if the SyncType value is SyncToDestination.
                properties:
                  awsKMSKeyARN:
                    type: string
                  bucketName:
                    type: string
                  destinationDataSharing:
                    description: |-
                      Synchronize Amazon Web Services Systems Manager Inventory data from multiple
                      Amazon Web Services accounts defined in Organizations to a centralized Amazon
                      S3 bucket. Data is synchronized to individual key prefixes in the central
                      bucket. Each key prefix represents a different Amazon Web Services account
                      ID.
                    properties:
                      destinationDataSharingType:
                        type: string
                    type: object
                  prefix:
                    type: string
                  region:
                    type: string
                  syncFormat:
                    type: string
                type: object
              syncName:
                description: A name for the configuration.
                type: string
              syncSource:
                description: |-
                  Specify information about the data sources to synchronize. This parameter
                  is required if the SyncType value is SyncFromSource.
                properties:
                  awsOrganizationsSource:
                    description: |-
                      Information about the AwsOrganizationsSource resource data sync source. A
                      sync source of this type can synchronize data from Organizations or, if an
                      Amazon Web Services organization isn't present, from multiple Amazon Web
                      Services Regions.
                    properties:
                      organizationSourceType:
                        type: string
                      organizationalUnits:
                        items:
                          description: The Organizations organizational unit data
                            source for the sync.
                          properties:
                            organizationalUnitID:
                              type: string
                          type: object
                        type: array
                    type: object
                  enableAllOpsDataSources:
                    type: boolean
                  includeFutureRegions:
                    type: boolean
                  sourceRegions:
                    items:
                      type: string
                    type: array
                  sourceType:
                    type: string
                type: object
              syncType:
                description: |-
                  Specify SyncToDestination to create a resource data sync that synchronizes
                  data to an S3 bucket for Inventory. If you specify SyncToDestination, you
                  must provide a value for S3Destination. Specify SyncFromSource to synchronize
                  data from a single account and multiple Regions, or multiple Amazon Web Services
                  accounts and Amazon Web Services Regions, as listed in Organizations for
                  Explorer. If you specify SyncFromSource, you must provide a value for SyncSource.
                  The default value is SyncToDestination.
                type: string
            required:
            - syncName
            type: object
          status:
            description: ResourceDataSyncStatus defines the observed state of ResourceDataSync
            properties:
              ackResourceMetadata:
                description: |-
                  All CRs managed by ACK have a common `Status.ACKResourceMetadata` member
                  that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: |-
                      ARN is the Amazon Resource Name for the resource. This is a
                      globally-unique identifier and is set only by the ACK service controller
                      once the controller has orchestrated the creation of the resource OR
                      when it has verified that an "adopted" resource (a resource where the
                      ARN annotation was set by the Kubernetes user on the CR) exists and
                      matches the supplied CR's Spec field values.
                      https://github.com/aws/aws-controllers-k8s/issues/270
                    type: string
                  ownerAccountID:
                    description: |-
                      OwnerAccountID is the AWS Account ID of the account that owns the
                      backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: |-
                  All CRs managed by ACK have a common `Status.Conditions` member that
                  contains a collection of `ackv1alpha1.Condition` objects that describe
                  the various terminal states of the CR and its backend AWS service API
                  resource
                items:
                  description: |-
                    Condition is the common struct used by all CRDs managed by ACK service
                    controllers to indicate terminal states  of the CR and its backend AWS
                    service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
