
name: "CI Upgrade"
on:
  workflow_dispatch:
    inputs:
      commit-message:
        description: 'Commit message'     
        required: true
        default: 'Upgrade CI message'
      repo:
        description: 'Source repsitory'     
        required: true
        default: 'https://github.com/redhat-openshift-ecosystem/community-operators-pipeline'
      branch:
        description: 'Source branch'     
        required: true
        default: 'ci/latest'
env:
  OPP_INPUT_REPO: "${{ github.event.inputs.repo }}"
  OPP_INPUT_BRANCH: "${{ github.event.inputs.branch }}"
  OPP_SCRIPT_UPGRADE_URL: "https://raw.githubusercontent.com/redhat-openshift-ecosystem/community-operators-pipeline/ci/latest/ci/scripts/opp-update.sh"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.FRAMEWORK_MERGE }}
        #persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        # fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Create local changes
      run: |
        bash <(curl -sL $OPP_SCRIPT_UPGRADE_URL)
    - name: Commit files
      run: |
        git config --local user.email "41898282+framework-automation[bot]@users.noreply.github.com"
        git config --local user.name "framework-automation"
        git add .
        git commit -m "${{ github.event.inputs.commit-message }}" -a
        git push
