apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clickhouse-operator
    control-plane: controller-manager
  name: clickhouse-operator-metrics-service
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: clickhouse-operator
    control-plane: controller-manager
status:
  loadBalancer: {}
